# Chapter 01. 프로그래밍 기초 연습하기 (총 60문제)

## 실습 가이드
1. 난이도는 매우 쉬운 문제부터 점차 난이도가 있는 문제로 올라갑니다.

2. 이번 파트에서 풀게 될 문제들은 "파이썬 프로그래밍" 파트에서 배운 내용들을 기준으로 구성 되었습니다.
> 물론 개인의 선택에 따라 사용하셔도 되지만, 권장하지 않습니다.

3. 강의에서 배운 것 뿐만 아니라, 구글링하셔서 자유롭게 코딩하셔도 상관없습니다.
> 문제 해결에 집중해서 다양한 방법으로 풀어보세요!

### <b>학습목표</b>
- 1) 파이썬 데이터 타입의 이해
- 2) if문의 이해
- 3) for, while문의 이해
- 4) 함수(def)의 이해
- 5) 외부 라이브러리에 대한 이해

- 출제자: 김용담 강사

### 문제 01. 숫자 계산1

- 두 개의 숫자 a, b에 원하는 숫자를 넣고 a가 b의 배수인지 확인하는 코드를 작성하세요.

- 배수라면, "a는 b의 배수입니다."를 출력하고, 그렇지 않다면 "a는 b의 배수가 아닙니다."를 출력하세요.

In [ ]:
a, b = 100, 6
if a % b == 0:
    print("%d는 %d의 배수입니다." % (a,b))
else:
    print("%d는 %d의 배수가 아닙니다." % (a,b))

100는 6의 배수가 아닙니다.

### 문제 02. 숫자 계산2

- 주어진 실수값 f, g, h에 대해서 각 실수값을 소수점 세번째 자리에서 반올림한 값을 출력하는 코드를 작성하세요.

- 예를 들어 f, g, h가 각각 3.145, 6.1888, 1.00123라면 결과 출력은 3.15, 6.19, 1.00 입니다.

In [ ]:
f, g, h = 3.159, 6.23791, 11.2795801
print("%.2f, %.2f, %.2f" % (round(f, 2), round(g, 2), round(h, 2)))

3.16, 6.24, 11.28

### 문제 03. 숫자 계산3

- 리스트로 주어진 수열 2개가 있습니다. 해당 수열들의 중앙값을 출력하는 코드를 작성해보세요.

- 중앙값의 정의는 홀수 개의 숫자에 대해서는 크기 순서대로 가장 가운데 있는 값입니다.

- 짝수 개의 숫자에 대해서는 크기 순서대로 가장 가운데 있는 두 개의 숫자의 평균입니다.

- 예를 들어, [5, 11, 2, 4] 수열이 주어진다면 정답은 4.5입니다.

- [1, 3, 4, 5, 100] 수열이 주어진다면 정답은 4입니다.

In [ ]:
numbers1 = [5, 10, 11, 24, 55, 100]
numbers2 = [99, 11, 2, 6, 677, 1001, 3]
numbers2.sort()

len1 = len(numbers1)
len2 = len(numbers2)

if len1 % 2 == 0:
    print((numbers1[int(len1/2)-1] + numbers1[int(len1/2)]) / 2)
else:
    print(numbers1[int(len1/2)])

if len2 % 2 == 0:
    print((numbers2[int(len2/2)-1] + numbers2[int(len2/2)]) / 2)
else:
    print(numbers2[int(len2/2)])

17.5
11

### 문제 04. 윤년 계산하기

- 사용자 입력을 받은 숫자 N이 있습니다.

- 주어진 숫자 N이 윤년인지 아닌지 출력하는 코드를 작성해주세요.
> print("%d년은 윤년입니다." % N) **or**
> print("%d년은 윤년이 아닙니다." % N)

- 윤년 규칙은 다음과 같습니다.

> 1. 4의 배수일 것
> 2. 100의 배수가 아닐 것(이 경우엔 1번 조건을 무시합니다.)
> 3. 400의 배수일 것 (이 경우엔 2번 조건을 무시합니다.)

- 예를 들어, 2004년은 1번 조건을 만족하므로 윤년입니다.
- 2000년은 3번 조건을 만족하므로 윤년입니다.
- 2100년은 2번 조건을 만족하므로 윤년이 아닙니다.

In [ ]:
N = int(input("년도를 입력하세요 : "))
is_yoon = (N % 4 == 0) and (N % 100 != 0) or (N % 400 == 0)
if is_yoon:
    print("%d년은 윤년입니다." % N)
else:
    print("%d년은 윤년이 아닙니다." % N)

년도를 입력하세요 : 2021
2021년은 윤년이 아닙니다.

### 문제 05. 평균 계산하기

- 철수는 5개의 과목에서 주어진 리스트와 같은 성적을 받았습니다.

- 철수가 받은 성적의 평균을 계산하는 코드를 작성하세요.

In [ ]:
# 각 성적은 0~100점 사이입니다.
grades = [65, 70, 100, 43, 50]
sum(grades) / len(grades)

65.6

### 문제 06. 십의 자리 숫자 구하기

- 사용자 입력을 받는 두 자리 이상 숫자 N에 대해서, 십의 자리 숫자를 출력하는 코드를 작성해보세요.

- 예를 들어, 12097509172099019385이 입력으로 들어오면 출력 결과는 8
- 80135789164791672903791035719037이 입력으로 들어오면 출력 결과는 3
- 34가 입력으로 들어오면 출력 결과는 3

In [ ]:
N = int(input("두 자리 이상 숫자를 입력하세요 : "))
print(N % 100 // 10)

두 자리 이상 숫자를 입력하세요 : 547648742345979
7

### 문제 07. 단어 고치기

- 영희는 문장을 빠르게 입력하다가, 'w'를 모두 'q'라고 작성해버렸습니다.

- 주어진 문장들을 모두 맞게 변경하여 주세요.
> 단, 주어진 모든 문장에 사용된 'q'는 'w'가 변경된 것이라고 가정합니다.

- 예를 들면, "I am wuitting this exam." -> "I am quitting this exam."
- "This is the wuickest approach I ever seen." -> "Thie is the quickest approach I ever seen."
- "The wueen should make wuick decision" -> "The queen should make quick decision."

In [ ]:
sentences = ["I am wuitting this exam.", "This is wuickest approach I ever seen.", "The wueen should make wuick decision."]
for sentence in sentences:
    print(sentence.replace("w", "q"))

I am quitting this exam.
This is quickest approach I ever seen.
The queen should make quick decision.

### 문제 08. 단어 개수 파악하기

- 주어진 문장들에 대해서 몇 개의 단어가 있는지 출력하는 코드를 작성하세요.

- 예를 들어, "I am quitting this exam"이란 문장은 5개의 단어가 있습니다.

- "This is quickest approach I ever seen."이란 문장은 7개의 단어가 있습니다.

In [ ]:
sentences = ["I am quitting this exam.", "This is quickest approach I ever seen.", "The queen should make quick decision."]

for sentence in sentences:
    print(len(sentence.split()))

5
7
6

### 문제 09. 주민등록번호 가리기

- 우리의 개인 정보는 소중합니다. 주어진 주민등록번호들의 뒤에 6자리를 가려주는 코드를 작성하세요.

- 예를 들면, 911210-1234567 -> 911210-1\*\*\*\*\*\*로 변경됩니다.

- 011220-3123456 -> 011220-3\*\*\*\*\*\*로 변경됩니다.

In [ ]:
old_man = "911210-1234567"
young_man = "011220-3123456"
old_woman = "891103-2513455"
young_woman = "040302-4912911"

print(old_man[:-6] + "******")
print(young_man[:-6] + "******")
print(old_woman[:-6] + "******")
print(young_woman[:-6] + "******")

911210-1******
011220-3******
891103-2******
040302-4******

### 문제 10. 학습 결과 출력하기
- 머신러닝에서는 모델이 학습을 하게 되면, 학습에 주어진 인자들을 가지고 어떤 결과가 나왔는지 출력을 하게 됩니다.

- 주어진 인자를 해당 하는 자리에 위치하는 출력문을 작성해보세요.
(각 용어의 의미는 현재 중요하지 않습니다.)


- 다음은 출력문의 예시입니다.


"ResNet44 모델로 10 epoch를 돌려 학습시킨 결과는 학습 정확도 : 0.85, 검증 정확도 : 0.83, 테스트 정확도 : 0.76으로 나왔습니다"

"U-Net 모델로 10000 epoch를 돌려 학습시킨 결과는 학습 정확도 0.87, 검증 정확도 : 0.5, 테스트 정확도 : 0.43으로 나왔습니다."

In [ ]:
# 다음 주어진 변수를 활용하여 문제3의 코드를 작성하세요.
epoch = 10
train_accuracy = 0.85; val_accuracy = 0.83; test_accuracy = 0.76
model_name = "ResNet44"


# 가능하면 배웠던 3가지 케이스를 모두 사용해보세요;.
# case1 %
print("{} 모델로 {} epoch를 돌려 학습시킨 결과는 학습 정확도 : {}, 검증 정확도 : {}, 테스트 정확도 : {}으로 나왔습니다".format("ResNet44", 10, 0.85, 0.83, 0.76))
# case2
print("%s 모델로 %d epoch를 돌려 학습시킨 결과는 학습 정확도 : %.2f, 검증 정확도 : %.2f, 테스트 정확도 : %.2f으로 나왔습니다" % ("ResNet44", 10, 0.85, 0.83, 0.76))
# case3
print(f"{model_name} 모델로 {epoch} epoch를 돌려 학습시킨 결과는 학습 정확도 : {train_accuracy}, 검증 정확도 : {val_accuracy}, 테스트 정확도 : {test_accuracy}으로 나왔습니다")

ResNet44 모델로 10 epoch를 돌려 학습시킨 결과는 학습 정확도 : 0.85, 검증 정확도 : 0.83, 테스트 정확도 : 0.76으로 나왔습니다
ResNet44 모델로 10 epoch를 돌려 학습시킨 결과는 학습 정확도 : 0.85, 검증 정확도 : 0.83, 테스트 정확도 : 0.76으로 나왔습니다
ResNet44 모델로 10 epoch를 돌려 학습시킨 결과는 학습 정확도 : 0.85, 검증 정확도 : 0.83, 테스트 정확도 : 0.76으로 나왔습니다

### 문제 11. 리스트를 한 번 만들어볼까요?
* 어떤 학급의 아이 5명의 키에 대한 정보가 주어집니다.
* 이를 리스트로 만들고 heights 라는 변수에 담아주세요.
*  175.3, 146, 184, 160, 167 
> 단위인 cm는 표시하지 마세요. 숫자만!

In [ ]:
heights = [175.3, 146, 184, 160, 167]
heights

[175.3, 146, 184, 160, 167]

### 문제 12. 키 순으로 줄세우기
* 문제10의 아이들의 키가 작은 순서부터 큰 순서로 정렬하여 출력해주세요.

In [ ]:
# heights = [175.3, 146, 184, 160, 167]

heights.sort()
heights

[146, 160, 167, 175.3, 184]

### 문제 13. 리스트의 데이터 타입을 한 번 만들어볼까요?
 - 위 문제 11번에서 만든 리스트의 데이터 타입을 확인해봅시다. 
> HINT : type() 를 이용하시면 됩니다. : )

In [ ]:
type(heights)

list

### 문제 14. 리스트 heights의 길이를  확인해볼까요?
 - 위 문제 12번에서 만든 리스트(heights)의 데이터 길이를 확인해봅시다. 
> HINT : len() 를 이용해보세요.

In [ ]:
len(heights)

5

### 문제 15. 제일 키가 큰 아이가 전학을 가게 되었군요.
* 아이들 중 키가 제일 컸던 친구가 전학을 가게 되었습니다. 이를 코드로 구현해보고, heights의 길이를 구해보세요
* 5명의 아이 중 한 명이 전학을 갔으니, 4명이 되었겠군요.
> HINT : remove()

In [ ]:
# heights = [146, 160, 167, 175.3, 184]

heights.remove(184)
len(heights)

4

In [ ]:
# 또 다른 방법: pop()
heights = [146, 160, 167, 175.3, 184]
heights.pop() #pop()함수는 리스트의 가장 마지막 원소를 제거해줍니다.
len(heights)

4

### 문제 16. '장훈이'이라는 친구가 전학을 왔네요.
* 전학을 갔던 친구보다 더 키가 큰 장훈이 라는 친구가 전학을 왔군요.
* 이 친구의 키는 207cm 입니다. ()
* 이를 반영하여 코드로 구현해보고, heights의 길이를 구해보세요
* 다시 한 명이 전학을 왔으니, 5명이 되었겠군요.
* 마찬가지로, cm는 표시하지 않습니다.
> HINT : append()

In [ ]:
# heights = [146, 160, 167, 175.3]

heights.append(207)
len(heights)

5

### 문제 17. 데이터를 보호하자.

- 이제 학교에서 더 이상 전학을 받지도, 보내지도 않기로 결정이 되었습니다. 

- 아이들의 키 데이터를 리스트로 불러왔습니다. 불러온 데이터의 값이 더 이상 변경되지 않기를 원합니다.

- 불러온 데이터가 저장된 리스트의 값을 변경할 수 없게 바꿔주는 코드를 작성하세요.

> HINT : 데이터 타입을 바꾸시면 됩니다 :)

In [ ]:
# heights = [146, 160, 167, 175.3, 207]
heights = tuple(heights)
heights[0]

146

In [ ]:
# 데이터 타입 확인
type(heights)

tuple

In [ ]:
# 데이터 확인
heights

(146, 160, 167, 175.3, 207)

### 문제 18. 장훈이만 이름이 있는 것이 아니다!
- 5명의 아이들의 키는 있지만, 누구의 키인지 알 수 없었지만, 이제 알 수 있습니다.
  - 양세형: 146(cm),  유세윤: 160(cm),  서강준: 167(cm),  유재석: 175.3(cm),  서장훈: 207cm
  - cm 는 표시하지 않습니다.
- 데이터 타입 중 Dictionary로 위처럼 이름(name - key)과 키(height - value)를 같이 붙여주려고 합니다. 
- 이를 코드로 작성해서 class_A 라는 변수에 담아줍니다.

In [ ]:
class_A = {"양세형": 146, "유세윤": 160, "서강준": 167, "유재석": 175.3, "서장훈": 207}
class_A

{'서강준': 167, '서장훈': 207, '양세형': 146, '유세윤': 160, '유재석': 175.3}

In [ ]:
## 세형이의 키를 알아볼까요?
class_A["양세형"]

146

### 문제 19. 이번에는 키로 학급의 어린이를 검색해보려고 합니다. 
 - 예를 들면, "175.3cm 인 친구는 누구였지?"
 - 이를 코드로 구현해보고, 키가 175.3cm 인 친구를 찾아봅시다.
 > HINT : for 문을 이용해봅시다.

In [ ]:
for name, height in class_A.items():
    if height == 175.3:
        print(name)

유재석

In [ ]:
# 다르지만 간단하게 
[name for name, height in class_A.items() if height == 175.3]

['유재석']

### 문제 20. 농구부를 뽑아볼까요?
 - class_A의 학급 친구들을 기억하시나요? 허재 감독이 미래의 농구 꿈나무를 선발하여 농구부를 만든다고 합니다. 
 - 키가 175cm 이상인 친구들을 뽑아서 농구부를 결성한다고 합니다. 
 - basketball_team  이라는 빈 리스트를 작성하여, 농구부가 될 아이들의 이름만 추가하는 코드를 작성해보세요.
 - 마지막에 basketball_team 을 출력해봅시다.

In [ ]:
class_A = {"양세형": 146, "유세윤": 160, "서강준": 167, "유재석": 175.3, "서장훈": 207}

basket_ball = []

## 코드를 작성해보세요 ##

In [ ]:
## (정답)

class_A = {"양세형": 146, "유세윤": 160, "서강준": 167, "유재석": 175.3, "서장훈": 207}

basket_ball = []

for name, height in class_A.items():
    if height >= 175:
        basket_ball.append(name)

basket_ball

['유재석', '서장훈']

In [ ]:
# 다르지만 간단하게 
class_A = {"양세형": 146, "유세윤": 160, "서강준": 167, "유재석": 175.3, "서장훈": 207}

basketball_team = [name for name, height in class_A.items() if height >= 175]
basketball_team

['유재석', '서장훈']

### 문제 21. 강준이의 키가 커졌네요.
 - 강준이가 키가 5cm 나 커졌네요. 
 - 이를 코드로 작성해보세요

In [ ]:
## 코드를 작성해보세요

In [ ]:
## (정답)

class_A['서강준'] = class_A['서강준'] + 5

class_A['서강준']

172

### 문제 23. 다음 원소들은 포함하는 리스트 'L3'를 만들어봅시다. 
- 1, ['a', 2], 3.14, "누구냐 넌?"

In [ ]:
L3 = [1, ['a', 2], 3.14, "누구냐 넌?"] # 리스트에는 다양한 타입의 원소를 다 포함할 수 있습니다. 심지어 리스트도.
L3

[1, ['a', 2], 3.14, '누구냐 넌?']

### 문제 22. L3를 다르게 slicing해볼까요?
 - 이번에는 L3의 index2 부터 끝까지 잘라보겠습니다.

In [ ]:
# 끝의 index를 생략하면, 자동으로 index는 -1이 된다. (맨 끝)
L3[2:]

[3.14, '누구냐 넌?']

In [ ]:
# 끝을 의미하는 index 는 실제 L3의 길이보다 1보다 작은 양의 정수입니다. 이를 이용하면 다음과 같이 나타낼 수 있습니다. 
L3[2:len(L3)-1]

[3.14]

### 문제 24. 리스트 L3의 index가 0에 해당하는 원소는 무엇일까요? 
- 리스트의 index는 맨 앞부터 0으로 시작하며, 1씩 증가하는 정수 index를 사용합니다.

   e.g. [1, 2, 3]이면 첫번째 원소는 index가 0이고, 두번째 원소는 index가 1입니다.

- L3의 경우, index가 0에 해당하는 원소는 1입니다. 출력 결과가 1이 나와야겠죠?

In [ ]:
# L3 = [1, ['a', 2], 3.14, "누구냐 넌?"]
L3[0]

1

### 문제 25. 리스트 L3의 index가 -1에 해당하는 원소는 무엇일까요? 

- 파이썬에서는 음수 index도 제공하는데, 이는 뒤쪽부터 접근할 수 있는 방법입니다.

  e.g. [1, 2, 3]이면 뒤에서 첫번째(맨 마지막)원소는 index가 -1이고, 뒤에서 두번째 원소는 index가 -2입니다.

- L3의 경우, index가 -1에 해당하는 원소는 "누구냐 넌?"입니다. 출력 결과가 "누구냐 넌"이 나와야겠죠?

In [ ]:
# L3 = [1, ['a', 2], 3.14, "누구냐 넌?"]
L3[-1]

'누구냐 넌?'

### 문제 26. 위 문제19을 다르게도 풀어볼까요?

- index를 통해 접근하는 방법은 해당 변수이름에 []를 사용하며, []안에 index를 넣어서 접근할 수 있습니다.

    e.g L = [1, 2, 3]이면 L[0]은 1이고, L[2]는 L[-1]이며 3입니다.

- L3의 경우, index가 -1에 해당하는 원소는 L3의 가장 마지막 원소입니다. 이것을 양수의 index로 구현해봅시다. 물론, 출력 결과가 "누구냐 넌"이 나와야겠죠?

In [ ]:
# L3 = [1, ['a', 2], 3.14, "누구냐 넌?"]
L3[3]

'누구냐 넌?'

In [ ]:
# 끝을 의미하는 index 는 실제 L3의 길이보다 1보다 작은 양의 정수입니다. 이를 이용하면 다음과 같이 나타낼 수 있습니다.
L3[len(L3)-1]

'누구냐 넌?'

### 문제 27. L3의 원소 중 [ 'a', 2 ]를 indexing해서 'a'를 출력해봅시다. 

 - 리스트에는 다양한 타입의 원소를 다 포함할 수 있습니다. 심지어 리스트도.
 - L3의 경우, [ 'a', 2 ]는 index가 1에 해당하는 원소입니다. 
 - 여기서 한 번 더 index를 한다면, 'a'를 출력할 수 있지 않을까요?
> HINT : [index_num1][index_num]

In [ ]:
# L3 = [1, ['a', 2], 3.14, "누구냐 넌?"]
L3[1][0]

'a'

### 문제 28. L3를 slicing을 해볼까요? (1) 
 - L3의 index2부터 끝까지 잘라보겠습니다.

In [ ]:
# L3의 첫번째부터 index2 까지 자르기
L3[2:len(L3)]

[3.14, '누구냐 넌?']

In [ ]:
# 방법 01
# 끝을 의미하는 index 는 실제 L3의 길이보다 1보다 작은 양의 정수입니다. 이를 이용하면 다음과 같이 나타낼 수 있습니다.
L3[2: len(L3)]
# 여기서 끝을 나타내는 index 표시할 때 마지막 원소까지 포함해야하므로 (len(L3) -1) + 1 되어 len(L3) 이 됩니다.

[3.14, '누구냐 넌?']

In [ ]:
# 방법 02
# 끝을 나타내는 index를 생략하면, '끝까지'를 의미하게 됩니다. 
L3[2: ]

[3.14, '누구냐 넌?']

### 문제 29. L3를 slicing해볼까요? (2)
 - L3의 첫번째부터 index2 까지 잘라보겠습니다.

In [ ]:
L3[0:2]

[1, ['a', 2]]

In [ ]:
# 시작 index를 생략하면, 자동으로 index는 0이 됩니다. (맨 처음)
L3[:2]

[1, ['a', 2]]

### 문제 30. L3의 리스트 함수들을 알아볼까요?
- 리스트는 append, remove만 있는 게 아닙니다. 다른 함수들도 있는데, 무엇이 있는지 알아볼까요?

> HINT : dir()

In [ ]:
## 코드를 작성해보세요 ##
L3 = [1, ['a', 2], 3.14, '누구냐 넌?']

In [ ]:
## (정답)
dir(L3)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### 문제 31. L3의 리스트 함수들 중 c로 시작하는 함수들만을 보고 싶군요. 
- dir(L3) 결과로 나온 리스트 함수들 중 c로 시작하는 함수만을 출력하고 싶습니다.
> HINT : for문, if문

In [ ]:
## 코드를 작성해보세요

In [ ]:
## (정답)

for func in dir(L3):
    if func[0] == 'c':
        print(func)

clear
copy
count

In [ ]:
## 다르게 간단하게

[func for func in dir(L3) if func[0] == 'c']

['clear', 'copy', 'count']

### 문제 32. 구구단 가로 출력 (for문)
- 다음처럼 구구단을 가로로 출력해봅시다. 
    
```
2x1=2, 3x1=3, ..., 2x9= 18
...
2x9=19, 3x9=27, ..., 9x9= 81
```

> HINT

- 이중 for문 안에 for문
    
- print: end = "\t"
    
- string: format

In [ ]:
## 코드를 작성해보세요

In [ ]:
## (정답)
  
for num2 in range(1, 10):
    for num1 in range(2, 10):
        print("{} x {} = {}".format(num1, num2, num1*num2), end= "\t")
    print()

2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

### 문제 33. 구구단 가로 출력 (while문)
- 다음처럼 구구단을 가로로 출력해봅시다. 
    
```
2x1=2, 3x1=3, ..., 2x9= 18
...
2x9=19, 3x9=27, ..., 9x9= 81
```

> HINT

- 이중 while문 안에 while문
    
- print: end = "\t"
    
- string: format

In [ ]:
## 코드를 작성해보세요

In [ ]:
## (정답)

num2=1
while num2 < 10:
    num1=2
    while num1 < 10:
        print("{} x {} = {}".format(num1, num2, num1*num2), end= "\t")
        num1+=1
    print()
    num2+=1

2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

### 문제 34. 얼마나 걸릴까요?
- for문을 이용하여 1부터 1000000까지의 숫자 중 3의 배수인 숫자들을 찾고, 몇 개가 있는지 알아보는 코드를 작성해보세요. 
- 또한 컴퓨터가 이 코드를 수행하는 데 걸린 시간을 알아볼 수 있는 코드도 같이 작성하세요.
> HINT: for문, import time

In [ ]:
## 코드를 작성해보세요 ##

In [ ]:
## (정답)
import time
start = time.time()

ls = []
for num in range(1, 1000000+1):
    if num%3 == 0:
        ls.append(num)

end = time.time()
print(f"소요시간: {end - start}")

len(ls)

소요시간: 0.21270394325256348

333333

### 문제 35. 구구단은 얼마나 걸릴까요?
 - 위 문제 32번에서 작성한 코드를 이용하여 코드를 작성해봅시다.

In [ ]:
## 코드를 작성해보세요 ##

In [ ]:
## (정답)
import time
start = time.time()

for num2 in range(1, 10):
    for num1 in range(2, 10):
        print("{} x {} = {}".format(num1, num2, num1*num2), end= "\t")
    print()


end = time.time()
print(f"소요시간: {end - start}")

2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81
소요시간: 0.006751060485839844

### 문제 36. 무엇을 타고 집에 갈까요?
- 강준이라는 친구가 키가 5cm 자라더니 학교가 끝나고 집에 갈 때 잘 걸어가려 하지 않습니다. 

    - 강준이가 5000원 이상 소지하고 있을 경우 택시를 타고 집에 귀가할 수 있지만, 걸어서 귀가할 수도 있습니다.  
        - print("택시를 탑니다.")
        - 택시를 탈 경우, 3000원이 소비됩니다. 
        - 남은 잔액도 출력해주세요
    - 2000원 이상 있을 경우 버스를 타고 귀가하기로 했습니다.
        - print("버스를 탑니다.")
        - 버스를 탈 경우, 1000원이 소비됩니다. 
        - 남은 잔액도 출력해주세요
    - 2000원 미만일 경우 걸어서 귀가하기로 했습니다.
        - print("걸어서 귀가합니다.")

- 이를 반영한 코드를 작성해보세요

In [ ]:

## 강준이가 소지하고 있는 금액을 money 라는 변수로 받습니다. 
## 현재 10000원이 있네요.
money = 10000

## 택시는 타겠다고 하네요.
taxi = True

## 코드를 작성해보세요

In [ ]:
## (정답)
money = 10000
taxi = True

if money >= 5000:
    if taxi:
        print("택시를 탑니다.")
        print(f"잔액: {money - 3000}")
    else:
         print("걸어서 귀가합니다.")

elif money >= 2000:
    print("버스를 탑니다.")
else:
    print("걸어서 귀가합니다.")

택시를 탑니다.
잔액: 7000

### 문제 37. 오락에 빠진 강준이
- 강준이가 택시에 내려서 걸어서 귀가하던 중, 집 근처 오락실에서 '철권'게임을 하고 싶어졌습니다. 회당 500원인 이 게임을 몇 번이나 할 수 있을까요?
- 매번 게임을 진행한 뒤의 강준이가 가지고 있는 잔액과 몇 번 게임을 했는지 횟수를 출력해주는 코드를 작성해보세요. 
> HINT : while 문

In [ ]:

## 강준이가 소지하고 있는 금액을 money 라는 변수로 받습니다. 
## 현재 택시에서 내려서 잔액이 7000원이군요.
money = 7000
# 현재 강준이의 게임횟수(counts)는 0번입니다.
counts = 0

## 코드를 작성해보세요

In [ ]:
## (정답)

money = 7000
counts = 0

while money > 0:
    counts += 1
    money -= 500

    print(f"현재까지의 게임한 횟수: {counts}")
    print(f"현재 잔액: {money}")

print()
print(f"최종 게임 횟수: {counts}")
print(f"최종 잔액: {money}")

현재까지의 게임한 횟수: 1
현재 잔액: 6500
현재까지의 게임한 횟수: 2
현재 잔액: 6000
현재까지의 게임한 횟수: 3
현재 잔액: 5500
현재까지의 게임한 횟수: 4
현재 잔액: 5000
현재까지의 게임한 횟수: 5
현재 잔액: 4500
현재까지의 게임한 횟수: 6
현재 잔액: 4000
현재까지의 게임한 횟수: 7
현재 잔액: 3500
현재까지의 게임한 횟수: 8
현재 잔액: 3000
현재까지의 게임한 횟수: 9
현재 잔액: 2500
현재까지의 게임한 횟수: 10
현재 잔액: 2000
현재까지의 게임한 횟수: 11
현재 잔액: 1500
현재까지의 게임한 횟수: 12
현재 잔액: 1000
현재까지의 게임한 횟수: 13
현재 잔액: 500
현재까지의 게임한 횟수: 14
현재 잔액: 0

최종 게임 횟수: 14
최종 잔액: 0

## Function & magic command

- 문제 38 ~ 문제 53
- 개발 분야뿐만 아니라 데이터 분석에서도 파이썬의 함수는 강력한 위력을 발휘합니다.
- 다양한 함수를 만들어보고 경험해봅시다.

### 문제 38. 함수를 선언해볼까요? 
 - func()라는 변수에 빈리스트를 선언하는 코드를 작성해봅시다.
 - 함수를 실행하면, "This is the Infinity Gaunthlet" 메세지가 뜨도록 합니다.

> HINT:  def function_name():

In [ ]:
## 코드를 작성해보세요 ##

In [ ]:
## (정답) 다음과 같이 함수 선언이 가능합니다. 

def func():

    print("This is the Infinity Gaunthlet")

func()

This is the Infinity Gaunthlet

In [ ]:
## (해설) 다음과 같이 함수 선언이 가능합니다. 

## 1) 함수를 선언합니다.
def func():

    ## 2) 함수를 실행하면 출력됩니다.
    print("This is the Infinity Gaunthlet")



## 3) 함수를 실행해봅니다.
func()

This is the Infinity Gaunthlet

### 문제 38. 간단한 계산기 함수를 만들어봅시다. 
 - 더하기 기능의 간단한 함수를 코드로 작성해봅니다. 
 - 이번에는 파라미터 number_01, number_02 를 받고, 이 둘을 더하는 함수 plus()를 코드로 작성합니다.
    - 파라미터: 함수를 선언할 때 호출하는 부분에서 보내주는 데이터를 받는 변수를 뜻합니다. 
    - 아규먼트: 함수를 호출할 때 함수에 보내주는 데이터를 뜻합니다.
 - 함수를 구현한 후, 숫자 100과 23을 함수에 대입하여 함수를 실행해봅시다.

> HINT: def function_name(a, b)

In [ ]:
## 코드를 작성해보세요 ##

In [ ]:
## (정답) 이런 방법으로도 선언이 가능합니다. 

## 1) 함수를 선언합니다.
def plus(number_01, number_02):
    print(number_01 + number_02)

## 2) number_01와 number_02의 자리에 각각 100과 23을 넣고 함수를 실행합니다. 
plus(100, 23) # 100과 23은 '아규먼트'라고 합니다.

123

In [ ]:
## 3) 다음과 같이 입력하고 실행해도 같은 결과가 나옵니다. 
## number_01, number_02 를 함수의 '파라미터'라고 합니다.
plus(number_01 = 100, number_02 = 23)

123

### 문제 39. 조금 특별한 계산기를 만들어봅시다. 

 - 위 함수와 동일하지만, 파라미터 number_01, number_02 중 number_02 를 default 값으로 100이 되도록 합니다.
 - 이 함수를 plus_ver2()로 합니다.
 - 디폴트 파라미터: 함수 선언할 때 파라미터의 값을 할당해둡니다. 함수 실행(호출)시 별도의 지정이 없으면, 처음에 할당된 파라미터의 값으로 파라미터가 할당이 되고 함수가 실행됩니다.

- number_01 파라미터 하나에 숫자 11을 넣고 함수 plus_ver2()를 실행해봅니다.

In [ ]:
## 코드를 작성해보세요 ##

In [ ]:
## (정답) 

def plus_ver2(number_01, number_02 = 100):
    
    print(number_01 + number_02)

plus_ver2(11)

111

In [ ]:
## (해설) 이런 방법으로도 선언이 가능합니다. 

## 1) 함수를 선언합니다.
def plus_ver2(number_01, number_02 = 100):

    ## 2) number_02 = 100 -> number_02를 '디폴트 파라미터'라고 합니다.
    print(number_01 + number_02)

## 3) number_01에 11을 넣고 함수를 실행합니다. 
plus_ver2(11)

111

### 문제 40. number_02에 100말고 다른 값으로 함수 실행할 수 있을까요?

- plus_ver2() 함수를 실행(호출)할 때, number_01에 숫자 0을, number_02에 77을 넣어보고 실행해봅시다.

In [ ]:
## 코드를 작성해보세요 ##

In [ ]:
## (정답)

plus_ver2(number_01 = 0, number_02 = 77)

77

### 문제 41. 숫자를 2개만 더하라는 법이 있습니까?
 - 이번에는 숫자를 개수에 제한없이 더할 수 있는 함수 plus_infinite()를 코드로 작성해봅니다. 
    > Hint : sum() 함수를 이용합니다.
 - *args
   : 함수를 호출할때 아규먼트의 갯수를 특정지을 수 없을 때 사용합니다.
   - 불특정한 수의 숫자들은 'args'라는 튜플에 추가됩니다. type(args) 로 데이터 타입과 args를 출력해봅시다. 
 - 함수를 작성하고 숫자 1부터 17까지 넣고 함수를 실행해봅니다. 
   - 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17

In [ ]:
## 코드를 작성해보세요

In [ ]:
## (정답)

def plus_infinite(*args):

    print(type(args), args) 
    sum(args)

    print(sum(args))

plus_infinite(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17)

<class 'tuple'> (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17)
153

In [ ]:
## (해설)

## 1) *args 이용하여 plus_infinite() 함수 선언합니다. 
def plus_infinite(*args):
    
    ## 2) args라는 튜플의 형태로 값을 받습니다. 
    print(type(args), args) # 데이터 타입과, args 출력

    ## 3) sun() 함수를 이용해서 합을 구합니다. 
    sum(args)

    ## 4) 결과 출력합니다.
    print(sum(args))

## 5) 숫자 1부터 17까지 넣고 실행해봅니다.
plus_infinite(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17)

<class 'tuple'> (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17)
153

### 문제 42. 이번에는 키워드 아규먼트도 여러개 받아서 실행해볼까요?

- 위 문제 05의 함수 plus_infinite() 선언 코드를 추가하여 새롭게 선언합니다. 
> HINT : **kwargs : 함수를 호출할때 키워드 아규먼트의 갯수를 특정지을 수 없을 때 사용합니다.


- 불특정한 수의 키워드 아규먼트들은 'kwargs'라는 딕셔너리에 추가됩니다. type(kwargs) 로 데이터 타입과 kwargs를 출력해봅시다. 

- 이번에는 plus_infinite() 함수에 1, 2, 3, 4, num1 = 100, num2 = 3000, num3 = 20, num4 = 7 을 넣고 함수를 실행해봅니다.

In [ ]:
## 코드를 작성해보세요 

def plus_infinite(*args, **kwargs):

SyntaxError: ignored

In [ ]:
## (정답)

def plus_infinite(*args, **kwargs):
    '''
    이 함수에 대해서 알고 싶나?
    '''
    
    print(type(kwargs), kwargs) 

    sum(kwargs.values())
    sum(args) 
    
    print( sum(args) + sum(kwargs.values()) )

plus_infinite( 1, 2, 3, 4, num1 = 100, num2 = 3000, num3 = 20, num4 = 7)

<class 'dict'> {'num1': 100, 'num2': 3000, 'num3': 20, 'num4': 7}
3137

In [ ]:
## (해설)

## 1) *args 이용하여 plus_infinite() 함수 선언합니다. 
def plus_infinite(*args, **kwargs):
    '''
    이 함수에 대해서 알고 싶나?
    '''
    
    ## 2) kwargs라는 딕셔너리의 형태로 값을 받습니다. 
    print(type(kwargs), kwargs) # 데이터 타입과, kwargs 출력

    ## 3) sun() 함수를 이용해서 합을 구합니다. 
    sum(kwargs.values()) ## 키워드 아규먼트의 합
    sum(args) ## 아규먼트의 합
    
    ## 4) 결과 출력합니다.
    print( sum(args) + sum(kwargs.values()) )

## 5)  1, 2, 3, 4, num1 = 100, num2 = 3000, num3 = 20, num4 = 7를 넣고 함수를 s실행해봅니다.
plus_infinite( 1, 2, 3, 4, num1 = 100, num2 = 3000, num3 = 20, num4 = 7)

<class 'dict'> {'num1': 100, 'num2': 3000, 'num3': 20, 'num4': 7}
3137

### 문제 43. list 를 통째로 함수에 넣으면 어떤 일이 일어날까요?
 - 위 문제 6번의 plus_infinite()를 그대로 사용합니다. 
 - list_numbers 라는 다음 리스트를 넣고 실행해봅니다. 
   - list_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
   - 어떻게 넣고 실행하면 될까요?

> HINT : *args

In [ ]:
list_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## 코드를 작성해보세요 
#???#에 들어갈 코드는 무엇일까요?
plus_inifinte(#???#)

In [ ]:
## (정답)
list_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


## 실행하면, list_numbers 의 모든 원소들의 합이 출력됩니다.
plus_infinite(*list_numbers)

<class 'dict'> {}
55

### 문제 44. 그렇다면 이번에는 딕셔너리를 통째로 함수에 넣고 실행해볼까요?

 - 위 문제 6번의 plus_infinite()를 그대로 사용합니다.
 - dict_heights 라는 딕셔너리를 넣고 실행해봅니다.
   - dict_heights = {'rohoon_height' : 178, 'yongdam_height': 180, 'sungwoong_height' : 175, 'youngmin_height' : 176}

   - 어떻게 넣고 실행하면 될까요?

   
> HINT : **kwargs

In [ ]:
dict_heights = {'rohoon_height' : 178, 'yongdam_height': 180, 'sungwoong_height' : 175, 'youngmin_height' : 176, 'Gwangsoo_height': 180}

## 코드를 작성해보세요 ##
#???#에 들어갈 코드는 무엇일까요?
plus_inifinte(#???#)

In [ ]:
## (정답)
dict_heights = {'rohoon_height' : 178, 'yongdam_height': 180, 'sungwoong_height' : 175, 'youngmin_height' : 176, 'Gwangsoo_height': 180}


## 실행하면, list_numbers 의 모든 원소들의 합이 출력됩니다.
plus_infinite(**dict_heights)

<class 'dict'> {'rohoon_height': 178, 'yongdam_height': 180, 'sungwoong_height': 175, 'youngmin_height': 176, 'Gwangsoo_height': 180}
889

### 문제 45. Docstring을 확인해봅시다.
 - Docstring 이란? 
   : 함수의 설명을 작성해놓은 기술문서입니다.
 - 기술Doc이라고도 하며, 수많은 파이썬 함수의 사용법과 정보를 나타냅니다.
 - 다음 명령어로 함수의 Docstring을 조회해봅시다. 
    -  plus_infinite?
    -  plus_infinite??
    -  help(plus_infinite)


- 파이썬 내장 함수 중 sum(), type() 함수에 대한 Docstring을 조회해봅시다.
- 앞으로 개발이든, 데이터분석에서든 Docstring을 확인할 일이 많을 것입니다.

In [ ]:
## 코드를 작성해보세요 ##

In [ ]:
## 정답
## 함수의 DOCSTRING 확인방법 01
plus_infinite?

In [ ]:
## 함수의 DOCSTRING 확인방법 02
plus_infinite??

In [ ]:
## 함수의 DOCSTRING 확인방법 03
help(plus_infinite)

Help on function plus_infinite in module __main__:

plus_infinite(*args, **kwargs)
    이 함수에 대해서 알고 싶나?

In [ ]:
## 파이썬 내장함수에 대해서도 조회해봅시다. - sum
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [ ]:
## 파이썬 내장함수에 대해서도 조회해봅시다. - type
type??

### 문제 46. plus 함수를 간단한 코드로 작성할 수 없을까요?

-  pythagoras() 함수는 2개의 숫자 아규먼트를 받고 각가 더한 값의 제곱근값을 return 합니다. 
 - return : 함수의 값을 저장하고 싶을 때 사용합니다.


> HINT: lambda 함수: 파라미터를 간단한 계산으로 리턴되는 함수입니다.

- pythagoras() 함수를 lambda 함수로 표현한 후 숫자 3과 4를 넣고 실행해봅니다. 

- lambda로 표현한 함수를 pythagoras_lambda라는 이름의 함수로 정의합니다.

In [ ]:
## 다음 코드를 lambda 함수로 구현해보세요

def pythagoras(num1, num2):
    return (num1**2 + num2**2)**0.5




pythagoras_lambda =

In [ ]:
## (정답)

## 1) pythagoras 함수를 lambda 함수로 구현한 pythagoras_lambda() 입니다. 
pythagoras_lambda = lambda num1, num2 : (num1**2 + num2**2)**0.5

## 2) 숫자 3, 4를 pythagoras_lambda()에 넣고 실행합니다.
pythagoras_lambda(3, 4)

5.0

### 문제 47. 조건문이 들어간 간단한 함수를 코드 한 줄로 구현해봅시다.

 - 키가 180cm이상인 사람들의 경우, "키가 정말 크군요" 라는 메세지가 출력, 그렇지 않은 경우를 "계속 키가 클 것입니다. : )" 라는 메세지로 출력하도록 합니다.
 
 - height_high(181)과 height_high(178)을 각각 실행해볼까요?

In [ ]:
## 코드를 작성해보세요 ##

def height_high(height):

In [ ]:
## (정답)

## 1) height_high 함수를 다음과 같인 선언합니다. 
def height_high(height):
    
    return '키가 정말 크군요' if height >= 180 else '계속 클 것 입니다. : )'
    ## 2) 위 코드는 아래 코드와 동일합니다. 아래 코드를 한 줄로 표현한 것입니다. 
    ## if height >= 180:
    ##    return '키가 정말 크군요'
    ## else:
    ##     return '계속 클 것 입니다. : )'

In [ ]:
## 3) height_high(181)을 각각 실행해볼까요?
height_high(181)

'키가 정말 크군요'

In [ ]:
## 4) height_high(178)을 각각 실행해볼까요?
height_high(178)

'계속 클 것 입니다. : )'

### 문제 48. 다음 다섯 사람의 키입니다. 이 사람들의 키에 대해서 height_high() 함수에 넣고 실행해봅시다.
 - dict_heights = {'rohoon_height' : 178, 'yongdam_height': 180, 'sungwoong_height' : 175, 'youngmin_height' : 176, 'Gwangsoo_height': 180}
 - 문제 11의 height_high() 함수를 이용합니다.
 - 결과는 리스트 형태로 출력합니다.
 - (Hint) map 함수를 이용합니다.

In [ ]:
dict_heights = {'rohoon_height' : 178, 'yongdam_height': 180, 'sungwoong_height' : 175, 'youngmin_height' : 176, 'Gwangsoo_height': 180}

## 코드를 작성해보세요 ##

In [ ]:
## (정답)

dict_heights = {'rohoon_height' : 178, 'yongdam_height': 180, 'sungwoong_height' : 175, 'youngmin_height' : 176, 'Gwangsoo_height': 180}

list(map(height_high, dict_heights.values()))

['계속 클 것 입니다. : )',
 '키가 정말 크군요',
 '계속 클 것 입니다. : )',
 '계속 클 것 입니다. : )',
 '키가 정말 크군요']

In [ ]:
## 해설

## 1) map(function, *iterables) 형태로 사용가능합니다.
##   - iterable 이란?: 원소를 하나씩 차례로 반환 가능한 object를 의미합니다.
##   - iterable  예: list, str, tuple 등

## 2) list(): 리스트로 만들어줍니다.
list(map(height_high, dict_heights.values()))

['계속 클 것 입니다. : )',
 '키가 정말 크군요',
 '계속 클 것 입니다. : )',
 '계속 클 것 입니다. : )',
 '키가 정말 크군요']

### 문제 49. 키가 180이상인 사람들만 남겨볼까요?
> HINT: filter 함수를 사용합니다.

In [ ]:
dict_heights = {'rohoon_height' : 178, 'yongdam_height': 180, 'sungwoong_height' : 175, 'youngmin_height' : 176, 'Gwangsoo_height': 180}

## 코드를 작성해보세요 ##

In [ ]:
## (정답)

dict_heights = {'rohoon_height' : 178, 'yongdam_height': 180, 'sungwoong_height' : 175, 'youngmin_height' : 176, 'Gwangsoo_height': 180}

list(filter(lambda name : True if dict_heights[name] >= 180 else False, dict_heights))

['yongdam_height', 'Gwangsoo_height']

In [ ]:
## (해설)

## 1) filter(function, *iterables) 형태로 사용가능합니다.
## 2) filter 함수 내부의 function에 lambda 함수를 이용하여 키가 180이상인 경우 True로 반환하도록 함수를 구현하였습니다.
## 3) list(): 리스트로 만들어줍니다.
list(filter(lambda name : True if dict_heights[name] >= 180 else False, dict_heights))

['yongdam_height', 'Gwangsoo_height']

### 문제 50. dict_heights의 정보를 하나씩 가져올 수 있도록 해보면 어떨까요?

> HINT : iter(), next() 함수를 이용합니다.



    - iter() 함수로 반복 가능한 객체를 생성합니다. 
    - next() 함수로 반복 가능한 객체의 원소를 하나씩 반환하도록 합니다.
    - next() 함수를 총 세 번을 실행하고, 각 실행시의 출력결과를 살펴보세요.

In [ ]:
## 코드를 작성해보세요 ##

In [ ]:
## (정답)

## iter() 함수로 반복 가능한 객체로 반환합니다. 
height_iter = iter(dict_heights)

In [ ]:
## next() 함수 첫 번째 실행
next(height_iter)

'rohoon_height'

In [ ]:
## next() 함수 두 번째 실행
next(height_iter)

'yongdam_height'

In [ ]:
## next() 함수 세 번째 실행
next(height_iter)

'sungwoong_height'

### 문제 51. 단어 단위로 끊어진 대사를 다시 한 문장으로 합쳐볼까요?
 - "Everything that has a beginning has an end, Neo." (Matrix)
   
   : "시작이 있는 곳에 끝이 있어. 네오"

 - 파이썬 string의 join 함수를 이용해서 합쳐봅시다.

In [ ]:
list_words = ["Everything", "that", "has", "a", "beginning", "has", "an", "end", ",", "Neo."]

### 코드를 작성해보세요 ###
#???# 부분과 #?????# 부분에 들어갈 코드는 무엇일까요?


#???#.join(#?????#)

In [ ]:
## (정답)

list_words = ["Everything", "that", "has", "a", "beginning", "has", "an", "end", ",", "Neo."]

## " ".join(문자열 데이터의 리스트) 의 형태로 사용합니다. 
## - " " : (space, 구분자)입니다. 이것을 문자열 데이터로만 구성된 리스트의 각 단어(문자열 데이터) 사이에 넣어서 하나의 문자열로 합쳐줍니다.
" ".join(list_words)

'Everything that has a beginning has an end , Neo.'

### 문제 52. 현재 선언된 변수들은 어떤 것들이 있을까요?

> %who, %whos

- 위 두 커맨드는 '매직커맨드'라고 합니다. RAN에 load 된 변수들을 확인합니다. 
- 실제로 데이터 분석시, 데이터 용량이 크기 때문에, RAM 관리시에 도움이 되는 커맨드 중 하나입니다.

In [ ]:
# RAM에 load 된 변수들을 조회합니다.
%who

L3	 N	 a	 b	 basket_ball	 basketball_team	 class_A	 counts	 dict_heights
end	 epoch	 f	 func	 g	 grades	 h	 height	 height_high
height_iter	 heights	 is_yoon	 len1	 len2	 list_numbers	 list_words	 lotto_generator	 ls
model_name	 money	 name	 num	 num1	 num2	 numbers1	 numbers2	 old_man
old_woman	 plus	 plus_infinite	 plus_ver2	 pythagoras_lambda	 sentence	 sentences	 start	 taxi
test_accuracy	 time	 train_accuracy	 val_accuracy	 young_man	 young_woman

In [ ]:
# RAM에 load 된 변수들을 상세하게 조회합니다.
%whos

Variable            Type                Data/Info
-------------------------------------------------
L3                  list                n=4
N                   int                 547648742345979
a                   int                 100
b                   int                 6
basket_ball         list                n=2
basketball_team     list                n=2
class_A             dict                n=5
counts              int                 14
dict_heights        dict                n=5
end                 float               1635322490.3495018
epoch               int                 10
f                   float               3.159
func                function            <function func at 0x7f45e3466dd0>
g                   float               6.23791
grades              list                n=5
h                   float               11.2795801
height              int                 207
height_high         function            <function height_high at 0x7f45df960f80>
height_iter         dict_keyiterator    <dict_keyiterator object at 0x7f45dee4e530>
heights             tuple               n=5
is_yoon             bool                False
len1                int                 6
len2                int                 7
list_numbers        list                n=10
list_words          list                n=10
lotto_generator     function            <function lotto_generator at 0x7f45dedec9e0>
ls                  list                n=333333
model_name          str                 ResNet44
money               int                 0
name                str                 서장훈
num                 int                 1000000
num1                int                 9
num2                int                 9
numbers1            list                n=6
numbers2            list                n=7
old_man             str                 911210-1234567
old_woman           str                 891103-2513455
plus                function            <function plus at 0x7f45df963320>
plus_infinite       function            <function plus_infinite at 0x7f45df9608c0>
plus_ver2           function            <function plus_ver2 at 0x7f45df9635f0>
pythagoras_lambda   function            <function <lambda> at 0x7f45dee2d560>
sentence            str                 The queen should make quick decision.
sentences           list                n=3
start               float               1635322490.3427508
taxi                bool                True
test_accuracy       float               0.76
time                module              <module 'time' (built-in)>
train_accuracy      float               0.85
val_accuracy        float               0.83
young_man           str                 011220-3123456
young_woman         str                 040302-4912911

### 문제 53. 현재 선언된 변수들을 모두 지워버리고 싶다면 어떻게 하는 것이 좋을까요?

> %reset

- 위 '매직커맨드'라고 합니다. RAN에 load 된 변수들을 없애줍니다. 초기화합니다.
한 번 실행해볼까요?
- 실제 사용시에는 매우 신중해야겠죠?

In [ ]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [ ]:
# 확인해볼까요?
%who

Interactive namespace is empty.

In [ ]:
# 다시 한 번 확인해봅시다.
%whos

Interactive namespace is empty.

***모든 변수가 제거 되었군요. : )***

## Lotto Generator
- **문제 54 ~ 문제 60**
- 로또를 구매시 자동으로 하자니 찝찝하고, 그렇다고 매장에서 자동으로 하자니 '그래도 되나?' 싶은 마음도 있을 것 입니다. 파이썬 코드로 구현해볼까요?

- 지금까지 배운 파이썬 문법으로도 충분합니다. (List, while 을 이용)

### 문제 54. 로또 번호 6개를 담을 빈 리스트를 'lotto_numbers'라는 변수에 선언하고, 1 ~ 45 까지의 임의로 나오는 숫자 1개를 이 리스트에 추가해볼까요?
> HINT : import random

In [ ]:
##### Hint #####
lotto_numbers = []

## 1) random 라이브러리를 import 합니다.
import random

## 2) 위 라인에서 import한 random 라이브러리를 이용하여, 1 ~ 45 까지 임의의 숫자 1개를 무작위로 추출합니다. 
##   아래 코드를 1번 실행할 때마다 1개의 숫자를 임의로 뽑아줍니다. 
lotto_num = 

## 3) 실행하여 임의로 추출된 숫자를 확인해봅니다.
lotto_num

In [ ]:
## (정답)  
## 다음과 같이 선언할 수 있습니다. 
lotto_numbers = list()

## 1) random 라이브러리를 import 합니다.
import random

## 2) 위 라인에서 import한 random 라이브러리를 이용하여, 1 ~ 45 까지 임의의 숫자 1개를 무작위로 추출합니다. 
##   아래 코드를 1번 실행할 때마다 1개의 숫자를 임의로 뽑아줍니다. 
lotto_num = random.randint(1, 45) 

## 3) 실행하여 임의로 추출된 숫자를 확인해봅니다.
lotto_num

43

In [ ]:
## 4) 다음 코드로, lotto_numbers 라는 리스트에 lotto_num을 추가합니다. 
lotto_numbers.append(lotto_num)
lotto_numbers  ## lotto_num 1개의 숫자가 리스트에 잘 추가되었는지 확인해봅니다.

[43]

### 문제 55. if 조건문으로 lotto_numbers에 lotto_num을 중복없이 추가하는 코드를 작성해봅시다. 

- 문제 02에서 임의로 숫자를 추출하다보면, 숫자가 중복되어 추출될 수 있습니다. 로또에는 숫자가 중복될 수 없기 때문입니다. 

> HINT: not in

In [ ]:
## 먼저 다음 코드를 한 번 더 실행하여 임의로 숫자 하나를 더 뽑아봅시다. 
lotto_num = random.randint(1, 45)

In [ ]:
## (정답)
## 1) 먼저 다음 코드를 한 번 더 실행하여 임의로 숫자 하나를 더 뽑아봅시다. 
# lotto_num = random.randint(1, 45) 

## 2) 다음 코드로 중복없이 추가할 수 있습니다. 

if lotto_num not in lotto_numbers:
    lotto_numbers.append(lotto_num)

lotto_numbers

[43]

In [ ]:
## (해설 -미실행) ##

## 한 번 더 실행하여 임의로 숫자 하나를 더 뽑아봅시다. 
lotto_num = random.randint(1, 45) 

## 1) if 조건문으로, lotto_numbers 리스트에 lotto_num 이 있지 않다면
if lotto_num not in lotto_numbers:

    ## 2) 위 1번의 if문이 True일 경우, 즉, lotto_numbers 리스트에 lotto_num이 없을 때에만, 
    ##   lotto_numbers 리스트에 lotto_num을 추가합니다. 
    ##   (lotto_numbers 리스트에 lotto_num가 있다면, 추가하지 않습니다.)
    lotto_numbers.append(lotto_num)

### 문제 56. 우리가 지금까지 몇 개의 숫자를 뽑았는지 알아볼까요?
 - wlrma까지 2개의 숫자를 뽑았는데, (우리의 머리가 아닌) 몇 개를 뽑았는 지 알 수 있는 코드를 작성해볼까요? 

> HINT : len()

In [ ]:
## 코드를 작성해보세요.

In [ ]:
## (해설 - 미실행) ##
len(lotto_numbers)
## lotto_numbers는 리스트입니다. 파이썬의 리스트에 있는 원소들의 개수는 len(리스트명) 함수를 통해 알 수 있습니다. 
## 데이터 분석이나, 머신러닝 등에서 자주 많이 쓰이는 기능들 중 하나입니다.

2

### 문제 57. 숫자(로또 번호) 6개를 뽑아보는 코드를 작성해봅시다. (while 문을 이용)

> HINT : while len(  )<= :

In [ ]:
## 코드를 작성하세요

In [ ]:
## (정답) 다음 코드로 로또 번호 6개를 뽑아볼 수 있습니다. 

while len(lotto_numbers) <= 5:
    lotto_num = random.randint(1, 45)

    if lotto_num not in lotto_numbers:
        lotto_numbers.append(lotto_num)

lotto_numbers

[43, 22, 41, 4, 7, 24]

In [ ]:
## (해설 - 미실행) ##

while len(lotto_numbers) <= 5:
## 1) while 문
##  : 'while (조건)'의 형태로 이루어져있는데, 조건 부분을 만족하는 동안(즉, 조건을 만족하지 않을 때까지) 
##     while 아래 코드(로또 번호 임의 추출 및 lotto_numbers에 추가)를 반복합니다. 

## 2) len(lotto_numbers) < = 5 
##  : while문의 '조건'입니다. 이 조건문을 보면, len(lotto_numbers)가 0, 1, 3, 4, 5를 만족하는 동안, 
##    while 문 아래 코드(로또 번호 임의 추출 및 lotto_numbers에 추가)를 반복하게 됩니다. 
##    len(lotto_numbers)= 5일 때에도 반복을 하게 되면 최종적으로 len(lotto_numbers)가 6이 됩니다. 
##    즉, 우리가 필요한 로또 번호의 개수가 6개가 되고 멈추게 됩니다.

    ## 3) 1~ 45까지의 숫자 1개를 뽑아서 lotto_num 에 할당합니다. 
    lotto_num = random.randint(1, 45)

    ## 4) lotto_num를 숫자의 중복없이 lotto_numbers 리스트에 추가합니다. 
    if lotto_num not in lotto_numbers:
        lotto_numbers.append(lotto_num)


    ## while의 조건문을 만족하는 동안, 3)과 4)을 반복합니다. 

## 6개의 로또 번호를 확인해봅니다. 
lotto_numbers

[43, 22, 41, 4, 7, 24]

### 문제 58.  이번에는 for문을 이용하여, 숫자(로또 번호) 6개를 뽑아보는 코드를 작성해봅시다.

>  HINT : for문, range(6)

In [ ]:
## 코드를 작성해보세요.

## 1) for문을 이용해 새롭게 뽑을 숫자 6개를 담을 리스트입니다. 
lotto_numbers_for = []

## 2) 아래 코드를 이용해보세요.
lotto_num = random.randint(1, 45) # 임의로 숫자 1개를 뽑는 코드입니다.




## 3) lotto_num를 숫자의 중복없이 lotto_numbers_for 리스트에 추가합니다. 
if lotto_num not in lotto_numbers:
    lotto_numbers_for.append(lotto_num)

In [ ]:
## (정답) 다음 코드로 로또 번호 6개를 뽑을 수 있습니다. 

lotto_numbers_for = []

for count in range(6):

    lotto_num = random.randint(1, 45)
    if lotto_num not in lotto_numbers:
        lotto_numbers_for.append(lotto_num)

lotto_numbers_for

[35, 16, 11, 2, 3, 17]

In [ ]:
## (해설 - 미실행) ##

## 1) for문을 이용해 새롭게 뽑을 숫자 6개를 담을 리스트입니다.
lotto_numbers_for = []

## 2) for문
##  - range(6) : range(6)는 0 ~ 5까지를 의미합니다. 
##               count = 0, 1, 2, 3, 4, 5 일 때, for문 이하 코드(로또 번호 임의 추출 및 lotto_numbers에 추가)를 실행합니다.
##  - for문은 지금처럼 단순히 횟수를 반복할 때에도 많이 사용됩니다. 
for count in range(6):

    ## 3) 임의로 숫자 1개를 뽑는 코드입니다.
    lotto_num = random.randint(1, 45)
    
    ## 4) lotto_num를 숫자의 중복없이 lotto_numbers_for 리스트에 추가합니다. 
    if lotto_num not in lotto_numbers:
        lotto_numbers_for.append(lotto_num)

## 6개의 로또 번호를 확인해봅니다. 
lotto_numbers_for

[37, 33, 3, 30, 27, 11]

### 문제 59. 이번에는 lotto_generator() 라는 함수로 만들어볼까요?
- 매번 3~4줄의 코드를 작성하는 것보다, 함수로 구현해놓고, 원할 때마다 함수를 실행해서 로또 번호 6개가 나오게끔 하면 훨씬 편하지 않을까요?

In [ ]:
## 코드를 작성해보세요 

## 1) 함수 선언
def lotto_generator():
    ## 위 문제 5번 혹은 7번에서 작성한 코드를 이용하셔도 됩니다. 





    return

In [ ]:
## 정답은 01, 02 둘 중 하나의 형태면 됩니다. 


## (정답01) 다음 코드로 lotto_generator 함수를 구현할 수 있습니다. 

## 1) 함수 선언
def lotto_generator():

    ## 2) 문제 5번 이용
    lotto_numbers_for = []

    while len(lotto_numbers) <= 5:
        lotto_num = random.randint(1, 45)
        
        if lotto_num not in lotto_numbers:
            lotto_numbers.append(lotto_num)

    ## 3) 오름차순으로 정렬합니다. 
    lotto_numbers.sort()

    ## 4) 6개의 로또번호 반환!
    return lotto_numbers

## 5) 함수 실행!
lotto_generator()

[4, 7, 22, 24, 41, 43]

In [ ]:
## (정답02) 다음 코드로 lotto_generator 함수를 구현할 수 있습니다. 

## 1) 함수 선언
def lotto_generator():

    ## 2) 문제 7번 이용
    lotto_numbers_for = []

    for count in range(6):
        lotto_num = random.randint(1, 45)
        if lotto_num not in lotto_numbers:
            lotto_numbers_for.append(lotto_num)

    ## 3) 오름차순으로 정렬합니다. 
    lotto_numbers_for.sort()
    
    ## 4) 6개의 로또번호 반환!
    return lotto_numbers_for

## 5) 함수 실행!
lotto_generator()

[10, 12, 17, 20, 33]

### 문제 60. [심화학습] Decorator 함수를 이용하여, 비밀번호를 입력하여 이용할 수 있도록 해봅시다.
- 비밀번호는 'python38' 로 설정합니다.

> HINT : 이전 문제에서 작성한 코드를 이용하여 작성하셔도 됩니다.

In [ ]:
## 코드를 작성해보세요

In [ ]:
## (정답) 데코레이터 함수를 이용해서, lotto_genrator가 비밀번호를 입력하여 실행가능하도록 합니다.

## 1) 데코레이터 함수 작성
def do_you_know_password(func):
    def wrapper(*args, **kwargs):
        # 비밀번호 입력
        right_password = 'python38'
        passwords = input("비밀번호를 입력하세요: ")
        if passwords == right_password:
            result = func(*args, **kwargs)
        else:
            result = '입력하신 비밀번호는 올바른 비밀번호가 아닙니다.'
        return result
    return wrapper

## 2) 어노테이션으로 데코레이터 함수 추가
@do_you_know_password
def lotto_generator():
    lotto_numbers_for = []
    for count in range(6):
        lotto_num = random.randint(1, 45)
        if lotto_num not in lotto_numbers:
            lotto_numbers_for.append(lotto_num)

    lotto_numbers_for.sort()
    return lotto_numbers_for

In [ ]:
## 3) 비밀 번호가 바르게 입력한 경우
lotto_generator()

비밀번호를 입력하세요: python38

[2, 5, 6, 12, 36]

In [ ]:
## 4) 비밀 번호가 틀리게 입력한 경우
lotto_generator()

In [ ]:
## (해설 - 미실행) ##

## 01 데코레이터 함수 작성
def do_you_know_password(func):
    def wrapper(*args, **kwargs):
        ## 1) 올바른 비밀번호 right_password
        right_password = 'python38'
        ## 2) 사용자가 입력하는 비밀번호 passwords
        passwords = input("비밀번호를 입력하세요: ")
        ## 3) 위 1), 2)의 비밀번호가 일치하는 경우
        ##   func 의 자리에 들어오는 함수의 실행한 결과값을 result 변수에 저장
        if passwords == right_password:
            result = func(*args, **kwargs)
        ## 4) 위 1), 2) 비밀번호가 불일치하는 경우
        ## '입력하신 비밀번호는 올바른 비밀번호가 아닙니다.'를 result 변수에 저장
        else:
            result = '입력하신 비밀번호는 올바른 비밀번호가 아닙니다.'
        ## 5) 결과값을 반환 
        return result
    return wrapper


## 02 lotto_generator 함수 선언
@do_you_know_password
def lotto_generator():

    ## 1) 문제 7번 이용
    lotto_numbers_for = []
    for count in range(6):
        lotto_num = random.randint(1, 45)
        if lotto_num not in lotto_numbers:
            lotto_numbers_for.append(lotto_num)

    ## 2) 오름차순으로 정렬합니다. 
    lotto_numbers_for.sort()
    
    ## 3) 6개의 로또번호 반환!
    return lotto_numbers_for

## 03 함수 실행!
lotto_generator()

비밀번호를 입력하세요: python38

[17, 18, 32, 45]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
## 현재 경로
base_path = '/content/drive/MyDrive/Colab Notebooks/data/'

### 문제 61. 이번에는 way.txt 의 첫 줄만을 출력해볼까요?

> HINT:  open(path,  'r') as f

In [ ]:
## 코드를 작성해보세요

In [ ]:
## (정답)

## f.readline()를 통해 test.txt를 read mode로 열어봅니다.
with open(base_path+"way.txt", 'r') as f:
    data=f.readline() # txt 파일의 첫번째 줄만 가져옵니다. 
data

'멈춘 시간 속 잠든 너를 찾아가\n'

### 문제 62. 이번에는 way.txt 의 모든 줄을 출력해볼까요?

- 첫 줄만 뽑아보니, 무언가 감미로운 시같은 문장이 나오는 군요. 
- 모든 줄을 출력해보려고 합니다. 출력해볼까요?

> HINT:  f.readlines()

In [ ]:
## 코드를 작성해보세요

In [ ]:
## (정답)
## f.readlines()를 통해 test.txt를 read mode로 열어봅니다.
with open(base_path+ "way.txt", 'r') as f:
    data= f.readlines() # 각 줄의 문자 데이터를 하나의 문자 데이터로 인식하여 가져옵니다.
data

['멈춘 시간 속 잠든 너를 찾아가\n',
 '아무리 막아도 결국 너의 곁인 걸\n',
 '길고 긴 여행을 끝내 이젠 돌아가\n',
 '너라는 집으로 지금 다시 way back home\n',
 '아무리 힘껏 닫아도 다시 열린 서랍 같아\n',
 '하늘로 높이 날린 넌 자꾸 내게 되돌아와\n',
 '힘들게 삼킨 이별도 다 그대로인 걸 oh, oh, oh\n',
 '수없이 떠난 길 위에서 난 너를 발견하고\n',
 '비우려 했던 맘은 또 이렇게 너로 차올라\n',
 '발걸음의 끝에 늘 니가 부딪혀\n',
 '그만 그만\n',
 '멈춘 시간 속 잠든 너를 찾아가\n',
 '아무리 막아도 결국 너의 곁인 걸\n',
 '길고 긴 여행을 끝내 이젠 돌아가\n',
 '너라는 집으로 지금 다시 way back home\n',
 '조용히 잠든 방을 열어 기억을 꺼내 들어\n',
 '부서진 시간 위에서 선명히 너는 떠올라\n',
 '길 잃은 맘 속에 널 가둔 채 살아\n',
 '그만 그만\n',
 '멈춘 시간 속 잠든 너를 찾아가\n',
 '아무리 막아도 결국 너의 곁인 걸\n',
 '길고 긴 여행을 끝내 이젠 돌아가\n',
 '너라는 집으로 지금 다시 way back home\n',
 '세상을 뒤집어 찾으려 해\n',
 '오직 너로 완결된 이야기를\n',
 '모든 걸 잃어도 난 너 하나면 돼\n',
 '빛이 다 꺼진 여기 나를 안아줘\n',
 '눈을 감으면 소리 없이 밀려와\n',
 '이 마음 그 위로 넌 또 한 겹 쌓여가\n',
 '내겐 그 누구도 아닌 니가 필요해\n',
 "돌아와 내 곁에 그날까지 I'm not done\n",
 '소스: Musixmatch\n',
 '작사: Shaun / Jq / Ji Hye I\n',
 'Way Back Home 가사 © Prossima Music Ent. Co. Ltd., Makeumine Works']

### 문제 63. for문을 이용하여 way.txt 의 모든 줄을 출력해볼까요?
- 노래 가사군요.
- 이번에는 f.readlines(), readline() 함수를 사용하지 않고, for 문으로 출력해볼까요?

In [ ]:
## 코드를 작성해보세요 ##

In [ ]:
# for문을 통해 data 폴더안에 있는 test.txt를 read mode로 열어서 출력해봅니다.
with open(base_path+"way.txt", 'r') as f:
    for line in f:
        print(line)

멈춘 시간 속 잠든 너를 찾아가

아무리 막아도 결국 너의 곁인 걸

길고 긴 여행을 끝내 이젠 돌아가

너라는 집으로 지금 다시 way back home

아무리 힘껏 닫아도 다시 열린 서랍 같아

하늘로 높이 날린 넌 자꾸 내게 되돌아와

힘들게 삼킨 이별도 다 그대로인 걸 oh, oh, oh

수없이 떠난 길 위에서 난 너를 발견하고

비우려 했던 맘은 또 이렇게 너로 차올라

발걸음의 끝에 늘 니가 부딪혀

그만 그만

멈춘 시간 속 잠든 너를 찾아가

아무리 막아도 결국 너의 곁인 걸

길고 긴 여행을 끝내 이젠 돌아가

너라는 집으로 지금 다시 way back home

조용히 잠든 방을 열어 기억을 꺼내 들어

부서진 시간 위에서 선명히 너는 떠올라

길 잃은 맘 속에 널 가둔 채 살아

그만 그만

멈춘 시간 속 잠든 너를 찾아가

아무리 막아도 결국 너의 곁인 걸

길고 긴 여행을 끝내 이젠 돌아가

너라는 집으로 지금 다시 way back home

세상을 뒤집어 찾으려 해

오직 너로 완결된 이야기를

모든 걸 잃어도 난 너 하나면 돼

빛이 다 꺼진 여기 나를 안아줘

눈을 감으면 소리 없이 밀려와

이 마음 그 위로 넌 또 한 겹 쌓여가

내겐 그 누구도 아닌 니가 필요해

돌아와 내 곁에 그날까지 I'm not done

소스: Musixmatch

작사: Shaun / Jq / Ji Hye I

Way Back Home 가사 © Prossima Music Ent. Co. Ltd., Makeumine Works

### 문제 64. way.txt를 열어서 '그만 그만' 은 부분을 모두 다 지우고 싶습니다. 어떻게 해야할까요?
 - 다 좋은데, '그만 그만'은 왠지 마음에 들지 않아 지우고 싶어졌습니다.
 - 또한, 밑에 소스, 작사 부분도 지우고 싶어졌습니다. 
 - 위 두 가지 사항을 지운 노래가사를 result.txt 파일에 작성하여 저장하도록 해보세요.
 - 이를 반영하는 코드를 작성해보세요.

In [ ]:
## 코드를 작성해보세요

In [ ]:
## 정답 및 해설

# 1) '그만 그만'이 없는 글자를 담을 리스트를 만듭니다.
output = []

# 2) test.txt를 read mode로 열고 할 일이 끝나면 자동으로 닫습니다.
with open(base_path + "way.txt", 'r') as f:
    for line in f: # 3) 줄 별로 읽되,
        line = line.strip() # 4) 양 옆의 공백을 제거합니다. 
        if line != '그만 그만' and line[:2] != '소스' and line[:2] != '작사':
            output.append(line)
# 5) 한글자 이상인 텍스트만 output list에 저장합니다.
output

['멈춘 시간 속 잠든 너를 찾아가',
 '아무리 막아도 결국 너의 곁인 걸',
 '길고 긴 여행을 끝내 이젠 돌아가',
 '너라는 집으로 지금 다시 way back home',
 '아무리 힘껏 닫아도 다시 열린 서랍 같아',
 '하늘로 높이 날린 넌 자꾸 내게 되돌아와',
 '힘들게 삼킨 이별도 다 그대로인 걸 oh, oh, oh',
 '수없이 떠난 길 위에서 난 너를 발견하고',
 '비우려 했던 맘은 또 이렇게 너로 차올라',
 '발걸음의 끝에 늘 니가 부딪혀',
 '멈춘 시간 속 잠든 너를 찾아가',
 '아무리 막아도 결국 너의 곁인 걸',
 '길고 긴 여행을 끝내 이젠 돌아가',
 '너라는 집으로 지금 다시 way back home',
 '조용히 잠든 방을 열어 기억을 꺼내 들어',
 '부서진 시간 위에서 선명히 너는 떠올라',
 '길 잃은 맘 속에 널 가둔 채 살아',
 '멈춘 시간 속 잠든 너를 찾아가',
 '아무리 막아도 결국 너의 곁인 걸',
 '길고 긴 여행을 끝내 이젠 돌아가',
 '너라는 집으로 지금 다시 way back home',
 '세상을 뒤집어 찾으려 해',
 '오직 너로 완결된 이야기를',
 '모든 걸 잃어도 난 너 하나면 돼',
 '빛이 다 꺼진 여기 나를 안아줘',
 '눈을 감으면 소리 없이 밀려와',
 '이 마음 그 위로 넌 또 한 겹 쌓여가',
 '내겐 그 누구도 아닌 니가 필요해',
 "돌아와 내 곁에 그날까지 I'm not done",
 'Way Back Home 가사 © Prossima Music Ent. Co. Ltd., Makeumine Works']

In [ ]:
# 6) result.txt로 output list에 있는 내용을 저장하기 위해 write mode로 열었습니다.
with open(base_path + "result.txt", 'w') as f:
    for line in output:
        print(line, file=f)

In [ ]:
# 7) 제대로 데이터가 저장되어 있는지, 불러와서 확인한다.
with open(base_path + "result.txt", "r") as f:
    for line in f:
        print(line)

멈춘 시간 속 잠든 너를 찾아가

아무리 막아도 결국 너의 곁인 걸

길고 긴 여행을 끝내 이젠 돌아가

너라는 집으로 지금 다시 way back home

아무리 힘껏 닫아도 다시 열린 서랍 같아

하늘로 높이 날린 넌 자꾸 내게 되돌아와

힘들게 삼킨 이별도 다 그대로인 걸 oh, oh, oh

수없이 떠난 길 위에서 난 너를 발견하고

비우려 했던 맘은 또 이렇게 너로 차올라

발걸음의 끝에 늘 니가 부딪혀

멈춘 시간 속 잠든 너를 찾아가

아무리 막아도 결국 너의 곁인 걸

길고 긴 여행을 끝내 이젠 돌아가

너라는 집으로 지금 다시 way back home

조용히 잠든 방을 열어 기억을 꺼내 들어

부서진 시간 위에서 선명히 너는 떠올라

길 잃은 맘 속에 널 가둔 채 살아

멈춘 시간 속 잠든 너를 찾아가

아무리 막아도 결국 너의 곁인 걸

길고 긴 여행을 끝내 이젠 돌아가

너라는 집으로 지금 다시 way back home

세상을 뒤집어 찾으려 해

오직 너로 완결된 이야기를

모든 걸 잃어도 난 너 하나면 돼

빛이 다 꺼진 여기 나를 안아줘

눈을 감으면 소리 없이 밀려와

이 마음 그 위로 넌 또 한 겹 쌓여가

내겐 그 누구도 아닌 니가 필요해

돌아와 내 곁에 그날까지 I'm not done

Way Back Home 가사 © Prossima Music Ent. Co. Ltd., Makeumine Works