# Chapter 03. 머신러닝 분류 문제 연습하기

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## 실습 가이드
1. 데이터를 다운로드하여 Colab에 불러옵니다.
> 다운로드한 데이터의 위치는 **Colab Notebooks/data/** 로 통일합니다.

2. 필요한 라이브러리는 모두 코드로 작성되어 있습니다.
3. 코드는 위에서부터 아래로 순서대로 실행합니다.
4. 전체 문제 구성은 좌측 첫 번째 아이콘을 통해 확인할 수 있습니다.

### <b> 데이터의 속성</b>
**시작 전에** 원본 데이콘 페이지에서 상세한 데이터에 대한 설명을 확인하세요 !

Reference : https://dacon.io/competitions/official/9565/data

### <b>학습목표</b>
- 1) Binary Classification 모델의 이해
- 2) 학습했던 다양한 머신러닝 분류모델의 이해
- 3) 분류를 위한 데이터 전처리 방법에 대한 이해
- 4) feature engineering에 대한 이해
- 5) 평가결과를 바탕으로 모델을 개선하는 방법 습득

- 출제자: 김용담 강사

## Step 1. 예측할 데이터 불러오기

### 문제 01. 데이터 불러오기

In [ ]:
# 분석에 필요한 라이브러리를 불러옵니다
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 

import warnings
warnings.filterwarnings('ignore')

In [ ]:
base_path = '/content/drive/MyDrive/Colab Notebooks/data/9565_hospital_data'
train = pd.read_csv(base_path + "/train.csv")
test = pd.read_csv(base_path + "/test.csv")

### 문제 02. 데이터 미리보기

In [ ]:
# 데이터 크기 확인
print(train.shape, test.shape)

# 데이터 일부 확인
display(train.head())
display(test.head())

(301, 58) (127, 58)

   inst_id    OC       sido  ...  employee1  employee2  ownerChange
0        1  open  choongnam  ...       62.0       64.0         same
1        3  open  gyeongnam  ...      801.0      813.0         same
2        4  open   gyeonggi  ...      234.0        1.0         same
3        7  open    incheon  ...      663.0      663.0         same
4        9  open  gyeongnam  ...      206.0      197.0         same

[5 rows x 58 columns]

   inst_id  OC     sido  sgg  ...      surplus2  employee1 employee2  ownerChange
0        2 NaN  incheon  139  ...  8.944587e+09        693       693         same
1        5 NaN     jeju  149  ...  0.000000e+00        379       371         same
2        6 NaN  jeonnam  103  ...  1.638540e+10        NaN       NaN          NaN
3        8 NaN    busan   71  ...  0.000000e+00        760       760         same
4       10 NaN  jeonbuk   26  ...  1.507269e+10        437       385         same

[5 rows x 58 columns]

### 문제 03. 데이터 확인하기

In [ ]:
# train 데이터에서 결측치가 있는 column 확인하기
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 58 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   inst_id             301 non-null    int64
 1   OC                  301 non-null    object
 2   sido                301 non-null    object
 3   sgg                 301 non-null    int64
 4   openDate            301 non-null    int64
 5   bedCount            296 non-null    float64
 6   instkind            300 non-null    object
 7   revenue1            293 non-null    float64
 8   salescost1          293 non-null    float64
 9   sga1                293 non-null    float64
 10  salary1             293 non-null    float64
 11  noi1                293 non-null    float64
 12  noe1                293 non-null    float64
 13  interest1           293 non-null    float64
 14  ctax1               293 non-null    float64
 15  profit1             293 non-null    float64
 16  liquidAsset1        293 non-null    float64
 17  quickAsset1         293 non-null    float64
 18  receivableS1        293 non-null    float64
 19  inventoryAsset1     293 non-null    float64
 20  nonCAsset1          293 non-null    float64
 21  tanAsset1           293 non-null    float64
 22  OnonCAsset1         293 non-null    float64
 23  receivableL1        293 non-null    float64
 24  debt1               293 non-null    float64
 25  liquidLiabilities1  293 non-null    float64
 26  shortLoan1          293 non-null    float64
 27  NCLiabilities1      293 non-null    float64
 28  longLoan1           293 non-null    float64
 29  netAsset1           293 non-null    float64
 30  surplus1            293 non-null    float64
 31  revenue2            293 non-null    float64
 32  salescost2          293 non-null    float64
 33  sga2                293 non-null    float64
 34  salary2             293 non-null    float64
 35  noi2                293 non-null    float64
 36  noe2                293 non-null    float64
 37  interest2           293 non-null    float64
 38  ctax2               293 non-null    float64
 39  profit2             293 non-null    float64
 40  liquidAsset2        293 non-null    float64
 41  quickAsset2         293 non-null    float64
 42  receivableS2        293 non-null    float64
 43  inventoryAsset2     293 non-null    float64
 44  nonCAsset2          293 non-null    float64
 45  tanAsset2           293 non-null    float64
 46  OnonCAsset2         293 non-null    float64
 47  receivableL2        293 non-null    float64
 48  debt2               293 non-null    float64
 49  liquidLiabilities2  293 non-null    float64
 50  shortLoan2          293 non-null    float64
 51  NCLiabilities2      293 non-null    float64
 52  longLoan2           293 non-null    float64
 53  netAsset2           293 non-null    float64
 54  surplus2            293 non-null    float64
 55  employee1           291 non-null    float64
 56  employee2           288 non-null    float64
 57  ownerChange         289 non-null    object
dtypes: float64(51), int64(3), object(4)
memory usage: 136.5+ KB

In [ ]:
# test도 확인
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 58 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   inst_id             127 non-null    int64
 1   OC                  0 non-null      float64
 2   sido                127 non-null    object
 3   sgg                 127 non-null    int64
 4   openDate            126 non-null    float64
 5   bedCount            119 non-null    float64
 6   instkind            125 non-null    object
 7   revenue1            125 non-null    float64
 8   salescost1          125 non-null    float64
 9   sga1                125 non-null    float64
 10  salary1             125 non-null    float64
 11  noi1                125 non-null    float64
 12  noe1                125 non-null    float64
 13  interest1           125 non-null    float64
 14  ctax1               125 non-null    float64
 15  profit1             125 non-null    float64
 16  liquidAsset1        125 non-null    float64
 17  quickAsset1         125 non-null    float64
 18  receivableS1        125 non-null    float64
 19  inventoryAsset1     125 non-null    float64
 20  nonCAsset1          125 non-null    float64
 21  tanAsset1           125 non-null    float64
 22  OnonCAsset1         125 non-null    float64
 23  receivableL1        125 non-null    float64
 24  debt1               125 non-null    float64
 25  liquidLiabilities1  125 non-null    float64
 26  shortLoan1          125 non-null    float64
 27  NCLiabilities1      125 non-null    float64
 28  longLoan1           125 non-null    float64
 29  netAsset1           125 non-null    float64
 30  surplus1            125 non-null    float64
 31  revenue2            125 non-null    float64
 32  salescost2          125 non-null    float64
 33  sga2                125 non-null    float64
 34  salary2             125 non-null    float64
 35  noi2                125 non-null    float64
 36  noe2                125 non-null    float64
 37  interest2           125 non-null    float64
 38  ctax2               125 non-null    float64
 39  profit2             125 non-null    float64
 40  liquidAsset2        125 non-null    float64
 41  quickAsset2         125 non-null    float64
 42  receivableS2        125 non-null    float64
 43  inventoryAsset2     125 non-null    float64
 44  nonCAsset2          125 non-null    float64
 45  tanAsset2           125 non-null    float64
 46  OnonCAsset2         125 non-null    float64
 47  receivableL2        125 non-null    float64
 48  debt2               125 non-null    float64
 49  liquidLiabilities2  125 non-null    float64
 50  shortLoan2          125 non-null    float64
 51  NCLiabilities2      125 non-null    float64
 52  longLoan2           125 non-null    float64
 53  netAsset2           125 non-null    float64
 54  surplus2            125 non-null    float64
 55  employee1           119 non-null    object
 56  employee2           112 non-null    object
 57  ownerChange         112 non-null    object
dtypes: float64(51), int64(2), object(5)
memory usage: 57.7+ KB

## Step 2. Data Preprocessing

- 데이터에 있는 결측치를 처리합니다.

- 결측치를 처리하기 위해 데이터에 잘못 기록된 점들을 확인합니다.

### 문제 04. train data에서 결측치가 있는 데이터 뽑기

In [ ]:
# train 데이터에서 결측치가 있는 column들을 뽑습니다.
train_missing_cols = train.columns[train.isnull().any()]
train_missing_cols

Index(['bedCount', 'instkind', 'revenue1', 'salescost1', 'sga1', 'salary1',
       'noi1', 'noe1', 'interest1', 'ctax1', 'profit1', 'liquidAsset1',
       'quickAsset1', 'receivableS1', 'inventoryAsset1', 'nonCAsset1',
       'tanAsset1', 'OnonCAsset1', 'receivableL1', 'debt1',
       'liquidLiabilities1', 'shortLoan1', 'NCLiabilities1', 'longLoan1',
       'netAsset1', 'surplus1', 'revenue2', 'salescost2', 'sga2', 'salary2',
       'noi2', 'noe2', 'interest2', 'ctax2', 'profit2', 'liquidAsset2',
       'quickAsset2', 'receivableS2', 'inventoryAsset2', 'nonCAsset2',
       'tanAsset2', 'OnonCAsset2', 'receivableL2', 'debt2',
       'liquidLiabilities2', 'shortLoan2', 'NCLiabilities2', 'longLoan2',
       'netAsset2', 'surplus2', 'employee1', 'employee2', 'ownerChange'],
      dtype='object')

In [ ]:
# 데이터가 거의 비어있는 row가 있는지 확인합니다.
missing_rows = train[train.isnull().any(axis=1)]
missing_rows

     inst_id      OC       sido  ...  employee1  employee2  ownerChange
1          3    open  gyeongnam  ...      801.0      813.0         same
14        26    open      ulsan  ...      951.0      901.0         same
32        55    open    incheon  ...      323.0      323.0         same
35        58   close   gyeonggi  ...       51.0        NaN       change
48        74    open      seoul  ...        NaN        NaN          NaN
55        87    open   gyeonggi  ...      200.0      203.0         same
60        94    open    gangwon  ...        NaN        NaN          NaN
62        96    open      busan  ...       38.0        NaN          NaN
71       107   close    jeonbuk  ...       85.0       74.0         same
93       140   close  gyeongbuk  ...        NaN        NaN          NaN
193      281   close   gyeonggi  ...       15.0       15.0       change
206      298    open  gyeongnam  ...        NaN      103.0          NaN
212      306   close    jeonnam  ...        NaN        NaN          NaN
230      327    open    jeonnam  ...      461.0        NaN         same
242      345    open      busan  ...        NaN        NaN          NaN
248      353    open   gyeonggi  ...      255.0      244.0         same
257      362    open  choongnam  ...       93.0       89.0         same
258      363    open  gyeongbuk  ...        NaN        NaN          NaN
263      369    open    gangwon  ...        NaN        NaN          NaN
285      407    open  gyeongbuk  ...        NaN        NaN          NaN
297      423   close  choongnam  ...       79.0       79.0         same
298      426   close  gyeongbuk  ...        NaN        NaN          NaN
299      427   close   gyeonggi  ...      100.0        NaN          NaN
300      428    open      seoul  ...       15.0       15.0         same

[24 rows x 58 columns]

In [ ]:
# missing_rows중에 2개 이상의 column이 비어있는 데이터는 삭제합니다.
missing_twos = missing_rows[missing_rows.isnull().sum(axis=1) > 2]
#missing_twos.index
train.drop(missing_twos.index, inplace=True)
train

     inst_id      OC       sido  ...  employee1  employee2  ownerChange
0          1    open  choongnam  ...       62.0       64.0         same
2          4    open   gyeonggi  ...      234.0        1.0         same
3          7    open    incheon  ...      663.0      663.0         same
4          9    open  gyeongnam  ...      206.0      197.0         same
5         11    open  gyeongnam  ...      397.0      390.0         same
..       ...     ...        ...  ...        ...        ...          ...
295      420    open   gyeonggi  ...       62.0       66.0         same
296      422    open    jeonnam  ...      193.0      141.0         same
297      423   close  choongnam  ...       79.0       79.0         same
299      427   close   gyeonggi  ...      100.0        NaN          NaN
300      428    open      seoul  ...       15.0       15.0         same

[286 rows x 58 columns]

In [ ]:
# 여전히 결측치가 있는 데이터를 찾아봅시다.
missings = train[train.isnull().any(axis=1)]
missings

     inst_id      OC       sido  ...  employee1  employee2  ownerChange
35        58   close   gyeonggi  ...       51.0        NaN       change
62        96    open      busan  ...       38.0        NaN          NaN
71       107   close    jeonbuk  ...       85.0       74.0         same
193      281   close   gyeonggi  ...       15.0       15.0       change
206      298    open  gyeongnam  ...        NaN      103.0          NaN
230      327    open    jeonnam  ...      461.0        NaN         same
297      423   close  choongnam  ...       79.0       79.0         same
299      427   close   gyeonggi  ...      100.0        NaN          NaN
300      428    open      seoul  ...       15.0       15.0         same

[9 rows x 58 columns]

### 문제 05. 결측치가 포함된 데이터 중 dtype이 object인 column들을 따로 처리하기

In [ ]:
# dtype이 object인 column들을 가져옵니다.
categories = [col for col, dtype in zip(train.columns, train.dtypes) if dtype=='object']
categories

['OC', 'sido', 'instkind', 'ownerChange']

In [ ]:
# 결측치가 있는 데이터 중에서 object column만 뽑아봅시다.
missings[categories]

         OC       sido              instkind ownerChange
35    close   gyeonggi      nursing_hospital      change
62     open      busan      nursing_hospital         NaN
71    close    jeonbuk  traditional_hospital        same
193   close   gyeonggi                   NaN      change
206    open  gyeongnam      nursing_hospital         NaN
230    open    jeonnam      general_hospital        same
297   close  choongnam              hospital        same
299   close   gyeonggi      nursing_hospital         NaN
300    open      seoul  traditional_hospital        same

In [ ]:
# categorical feature의 결측치는 최빈값으로 채웁니다.
modes = train.mode().loc[0]
train[categories] = train[categories].fillna(modes)
train[categories]

         OC       sido              instkind ownerChange
0      open  choongnam      nursing_hospital        same
2      open   gyeonggi      nursing_hospital        same
3      open    incheon      general_hospital        same
4      open  gyeongnam      general_hospital        same
5      open  gyeongnam      general_hospital        same
..      ...        ...                   ...         ...
295    open   gyeonggi      nursing_hospital        same
296    open    jeonnam      nursing_hospital        same
297   close  choongnam              hospital        same
299   close   gyeonggi      nursing_hospital        same
300    open      seoul  traditional_hospital        same

[286 rows x 4 columns]

In [ ]:
train

     inst_id      OC       sido  ...  employee1  employee2  ownerChange
0          1    open  choongnam  ...       62.0       64.0         same
2          4    open   gyeonggi  ...      234.0        1.0         same
3          7    open    incheon  ...      663.0      663.0         same
4          9    open  gyeongnam  ...      206.0      197.0         same
5         11    open  gyeongnam  ...      397.0      390.0         same
..       ...     ...        ...  ...        ...        ...          ...
295      420    open   gyeonggi  ...       62.0       66.0         same
296      422    open    jeonnam  ...      193.0      141.0         same
297      423   close  choongnam  ...       79.0       79.0         same
299      427   close   gyeonggi  ...      100.0        NaN         same
300      428    open      seoul  ...       15.0       15.0         same

[286 rows x 58 columns]

### 문제 06. 결측치 채우기

- 모든 숫자 데이터에 대해서 평균값으로 결측치를 채워줍니다.

In [ ]:
train.fillna(train.mean(), inplace=True)

In [ ]:
# 결측치가 제대로 처리되었는지 확인하기
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 286 entries, 0 to 300
Data columns (total 58 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   inst_id             286 non-null    int64
 1   OC                  286 non-null    object
 2   sido                286 non-null    object
 3   sgg                 286 non-null    int64
 4   openDate            286 non-null    int64
 5   bedCount            286 non-null    float64
 6   instkind            286 non-null    object
 7   revenue1            286 non-null    float64
 8   salescost1          286 non-null    float64
 9   sga1                286 non-null    float64
 10  salary1             286 non-null    float64
 11  noi1                286 non-null    float64
 12  noe1                286 non-null    float64
 13  interest1           286 non-null    float64
 14  ctax1               286 non-null    float64
 15  profit1             286 non-null    float64
 16  liquidAsset1        286 non-null    float64
 17  quickAsset1         286 non-null    float64
 18  receivableS1        286 non-null    float64
 19  inventoryAsset1     286 non-null    float64
 20  nonCAsset1          286 non-null    float64
 21  tanAsset1           286 non-null    float64
 22  OnonCAsset1         286 non-null    float64
 23  receivableL1        286 non-null    float64
 24  debt1               286 non-null    float64
 25  liquidLiabilities1  286 non-null    float64
 26  shortLoan1          286 non-null    float64
 27  NCLiabilities1      286 non-null    float64
 28  longLoan1           286 non-null    float64
 29  netAsset1           286 non-null    float64
 30  surplus1            286 non-null    float64
 31  revenue2            286 non-null    float64
 32  salescost2          286 non-null    float64
 33  sga2                286 non-null    float64
 34  salary2             286 non-null    float64
 35  noi2                286 non-null    float64
 36  noe2                286 non-null    float64
 37  interest2           286 non-null    float64
 38  ctax2               286 non-null    float64
 39  profit2             286 non-null    float64
 40  liquidAsset2        286 non-null    float64
 41  quickAsset2         286 non-null    float64
 42  receivableS2        286 non-null    float64
 43  inventoryAsset2     286 non-null    float64
 44  nonCAsset2          286 non-null    float64
 45  tanAsset2           286 non-null    float64
 46  OnonCAsset2         286 non-null    float64
 47  receivableL2        286 non-null    float64
 48  debt2               286 non-null    float64
 49  liquidLiabilities2  286 non-null    float64
 50  shortLoan2          286 non-null    float64
 51  NCLiabilities2      286 non-null    float64
 52  longLoan2           286 non-null    float64
 53  netAsset2           286 non-null    float64
 54  surplus2            286 non-null    float64
 55  employee1           286 non-null    float64
 56  employee2           286 non-null    float64
 57  ownerChange         286 non-null    object
dtypes: float64(51), int64(3), object(4)
memory usage: 131.8+ KB

### 문제 07. 테스트 데이터 결측치 확인하기

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 58 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   inst_id             127 non-null    int64
 1   OC                  0 non-null      float64
 2   sido                127 non-null    object
 3   sgg                 127 non-null    int64
 4   openDate            126 non-null    float64
 5   bedCount            119 non-null    float64
 6   instkind            125 non-null    object
 7   revenue1            125 non-null    float64
 8   salescost1          125 non-null    float64
 9   sga1                125 non-null    float64
 10  salary1             125 non-null    float64
 11  noi1                125 non-null    float64
 12  noe1                125 non-null    float64
 13  interest1           125 non-null    float64
 14  ctax1               125 non-null    float64
 15  profit1             125 non-null    float64
 16  liquidAsset1        125 non-null    float64
 17  quickAsset1         125 non-null    float64
 18  receivableS1        125 non-null    float64
 19  inventoryAsset1     125 non-null    float64
 20  nonCAsset1          125 non-null    float64
 21  tanAsset1           125 non-null    float64
 22  OnonCAsset1         125 non-null    float64
 23  receivableL1        125 non-null    float64
 24  debt1               125 non-null    float64
 25  liquidLiabilities1  125 non-null    float64
 26  shortLoan1          125 non-null    float64
 27  NCLiabilities1      125 non-null    float64
 28  longLoan1           125 non-null    float64
 29  netAsset1           125 non-null    float64
 30  surplus1            125 non-null    float64
 31  revenue2            125 non-null    float64
 32  salescost2          125 non-null    float64
 33  sga2                125 non-null    float64
 34  salary2             125 non-null    float64
 35  noi2                125 non-null    float64
 36  noe2                125 non-null    float64
 37  interest2           125 non-null    float64
 38  ctax2               125 non-null    float64
 39  profit2             125 non-null    float64
 40  liquidAsset2        125 non-null    float64
 41  quickAsset2         125 non-null    float64
 42  receivableS2        125 non-null    float64
 43  inventoryAsset2     125 non-null    float64
 44  nonCAsset2          125 non-null    float64
 45  tanAsset2           125 non-null    float64
 46  OnonCAsset2         125 non-null    float64
 47  receivableL2        125 non-null    float64
 48  debt2               125 non-null    float64
 49  liquidLiabilities2  125 non-null    float64
 50  shortLoan2          125 non-null    float64
 51  NCLiabilities2      125 non-null    float64
 52  longLoan2           125 non-null    float64
 53  netAsset2           125 non-null    float64
 54  surplus2            125 non-null    float64
 55  employee1           119 non-null    object
 56  employee2           112 non-null    object
 57  ownerChange         112 non-null    object
dtypes: float64(51), int64(2), object(5)
memory usage: 57.7+ KB

In [ ]:
# OC는 target column이므로 제거
test.drop("OC", axis=1, inplace=True)

### 문제 08. 테스트 데이터에 동일한 결측치 적용하기

In [ ]:
# dtype이 object인 column들을 가져옵니다.
categories = [col for col, dtype in zip(test.columns, test.dtypes) if dtype=='object']
categories.remove('employee1')
categories.remove('employee2')

- 새로운 employee1, employee2가 나와서 이 둘은 나중에 처리하고 처리했었던 나머지 column들을 먼저 처리합니다.

In [ ]:
# test에서 결측치가 있는 데이터들을 뽑아냅니다.
missings2 = test[test.isnull().any(axis=1)]
missings2

     inst_id       sido  sgg  ...  employee1  employee2 ownerChange
2          6    jeonnam  103  ...        NaN        NaN         NaN
10        24   gyeonggi  169  ...        532        409        same
13        30      seoul   36  ...        NaN        NaN        same
15        32      busan   64  ...        566        566        same
20        48      daegu   40  ...        150        NaN         NaN
22        64    jeonbuk   34  ...        NaN        NaN         NaN
40       123    jeonnam  144  ...         86         96        same
52       165    jeonbuk  136  ...        NaN        NaN         NaN
56       181    jeonbuk   26  ...        250        200        same
78       229  gyeongnam   32  ...        130         65      change
82       246    jeonnam  145  ...        116        NaN         NaN
83       254  choongbuk  152  ...         37        NaN         NaN
84       258      busan   72  ...         25         26      change
88       293    jeonbuk   26  ...        NaN        NaN         NaN
93       310      seoul   36  ...        NaN        NaN         NaN
99       341      busan   66  ...         32         32         NaN
104      374  gyeongbuk  107  ...         61        NaN         NaN
112      395    jeonbuk  143  ...         36        NaN         NaN
113      396    jeonbuk  143  ...         36        NaN         NaN
120      413   gyeonggi  168  ...         21         21        same
122      424    jeonnam   33  ...        560        NaN         NaN
123      425   gyeonggi   74  ...        132        137        same
124      429   gyeonggi  116  ...        NaN        NaN         NaN
125      430       jeju   76  ...        363        343        same
126      431  choongbuk  163  ...        NaN        NaN         NaN

[25 rows x 57 columns]

In [ ]:
# 결측치가 있는 데이터 중에서 object column만 뽑아봅시다.
missings2[categories]

          sido              instkind ownerChange
2      jeonnam      general_hospital         NaN
10    gyeonggi    traditional_clinic        same
13       seoul              hospital        same
15       busan      general_hospital        same
20       daegu              hospital         NaN
22     jeonbuk              hospital         NaN
40     jeonnam      nursing_hospital        same
52     jeonbuk      nursing_hospital         NaN
56     jeonbuk      nursing_hospital        same
78   gyeongnam              hospital      change
82     jeonnam      general_hospital         NaN
83   choongbuk              hospital         NaN
84       busan      nursing_hospital      change
88     jeonbuk      nursing_hospital         NaN
93       seoul      nursing_hospital         NaN
99       busan      nursing_hospital         NaN
104  gyeongbuk      nursing_hospital         NaN
112    jeonbuk      nursing_hospital         NaN
113    jeonbuk      nursing_hospital         NaN
120   gyeonggi                   NaN        same
122    jeonnam    traditional_clinic         NaN
123   gyeonggi  traditional_hospital        same
124   gyeonggi              hospital         NaN
125       jeju                   NaN        same
126  choongbuk              hospital         NaN

In [ ]:
# 이 데이터들도 최빈값으로 채워줍니다.
test[categories] = test[categories].fillna(modes)
test[categories]

          sido              instkind ownerChange
0      incheon      general_hospital        same
1         jeju              hospital        same
2      jeonnam      general_hospital        same
3        busan      general_hospital        same
4      jeonbuk      general_hospital        same
..         ...                   ...         ...
122    jeonnam    traditional_clinic        same
123   gyeonggi  traditional_hospital        same
124   gyeonggi              hospital        same
125       jeju      nursing_hospital        same
126  choongbuk              hospital        same

[127 rows x 3 columns]

### 문제 09. employee1, employee2 확인하기

In [ ]:
# employee1과 employee2를 봅니다.
test.employee1[:30]

0       693
1       379
2       NaN
3       760
4       437
5       386
6       727
7       377
8        17
9       532
10      532
11      128
12    1,637
13      NaN
14    1,816
15      566
16      104
17      244
18      187
19      431
20      150
21      361
22      NaN
23       41
24      187
25      110
26      457
27      210
28      344
29      250
Name: employee1, dtype: object

In [ ]:
test.employee2[:30]

0       693
1       371
2       NaN
3       760
4       385
5       397
6       580
7       346
8        17
9       409
10      409
11      127
12    1,547
13      NaN
14    1,104
15      566
16      100
17      258
18      165
19      412
20      NaN
21      235
22      NaN
23       41
24      190
25      112
26      457
27      149
28      280
29      260
Name: employee2, dtype: object

In [ ]:
# ','를 없애고 수치값으로 변경합니다.
test.employee1 = test.employee1.astype('str').str.replace(",", "").astype('float')
test.employee2 = test.employee2.astype('str').str.replace(",", "").astype('float')
test

     inst_id       sido  sgg  ...  employee1  employee2 ownerChange
0          2    incheon  139  ...      693.0      693.0        same
1          5       jeju  149  ...      379.0      371.0        same
2          6    jeonnam  103  ...        NaN        NaN        same
3          8      busan   71  ...      760.0      760.0        same
4         10    jeonbuk   26  ...      437.0      385.0        same
..       ...        ...  ...  ...        ...        ...         ...
122      424    jeonnam   33  ...      560.0        NaN        same
123      425   gyeonggi   74  ...      132.0      137.0        same
124      429   gyeonggi  116  ...        NaN        NaN        same
125      430       jeju   76  ...      363.0      343.0        same
126      431  choongbuk  163  ...        NaN        NaN        same

[127 rows x 57 columns]

### 문제 10. 결측치 채우기

In [ ]:
# train 데이터와 동일하게 수치값들은 평균으로 채워줍니다.
test.fillna(train.mean(), inplace=True)

In [ ]:
# 확인
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 57 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   inst_id             127 non-null    int64
 1   sido                127 non-null    object
 2   sgg                 127 non-null    int64
 3   openDate            127 non-null    float64
 4   bedCount            127 non-null    float64
 5   instkind            127 non-null    object
 6   revenue1            127 non-null    float64
 7   salescost1          127 non-null    float64
 8   sga1                127 non-null    float64
 9   salary1             127 non-null    float64
 10  noi1                127 non-null    float64
 11  noe1                127 non-null    float64
 12  interest1           127 non-null    float64
 13  ctax1               127 non-null    float64
 14  profit1             127 non-null    float64
 15  liquidAsset1        127 non-null    float64
 16  quickAsset1         127 non-null    float64
 17  receivableS1        127 non-null    float64
 18  inventoryAsset1     127 non-null    float64
 19  nonCAsset1          127 non-null    float64
 20  tanAsset1           127 non-null    float64
 21  OnonCAsset1         127 non-null    float64
 22  receivableL1        127 non-null    float64
 23  debt1               127 non-null    float64
 24  liquidLiabilities1  127 non-null    float64
 25  shortLoan1          127 non-null    float64
 26  NCLiabilities1      127 non-null    float64
 27  longLoan1           127 non-null    float64
 28  netAsset1           127 non-null    float64
 29  surplus1            127 non-null    float64
 30  revenue2            127 non-null    float64
 31  salescost2          127 non-null    float64
 32  sga2                127 non-null    float64
 33  salary2             127 non-null    float64
 34  noi2                127 non-null    float64
 35  noe2                127 non-null    float64
 36  interest2           127 non-null    float64
 37  ctax2               127 non-null    float64
 38  profit2             127 non-null    float64
 39  liquidAsset2        127 non-null    float64
 40  quickAsset2         127 non-null    float64
 41  receivableS2        127 non-null    float64
 42  inventoryAsset2     127 non-null    float64
 43  nonCAsset2          127 non-null    float64
 44  tanAsset2           127 non-null    float64
 45  OnonCAsset2         127 non-null    float64
 46  receivableL2        127 non-null    float64
 47  debt2               127 non-null    float64
 48  liquidLiabilities2  127 non-null    float64
 49  shortLoan2          127 non-null    float64
 50  NCLiabilities2      127 non-null    float64
 51  longLoan2           127 non-null    float64
 52  netAsset2           127 non-null    float64
 53  surplus2            127 non-null    float64
 54  employee1           127 non-null    float64
 55  employee2           127 non-null    float64
 56  ownerChange         127 non-null    object
dtypes: float64(52), int64(2), object(3)
memory usage: 56.7+ KB

## Step 3. Feature Engineering

- 분석에 사용할 feature들을 만들고, 학습을 위한 데이터를 준비하는 단계입니다.

- 모든 categorical feature들을 변환하여 데이터를 feature vector로 만들어봅니다.

### 문제 11. categorical feature들 확인하기

In [ ]:
# train, test categorical feature들 확인하기
train_categories = [col for col, dtype in zip(train.columns, train.dtypes) if dtype=='object']
test_categories = [col for col, dtype in zip(test.columns, test.dtypes) if dtype=='object']

In [ ]:
print(train_categories)
print(test_categories)

['OC', 'sido', 'instkind', 'ownerChange']
['sido', 'instkind', 'ownerChange']

### 문제 12. training data에 categorical feature encoding

- OneHotEncoder를 이용하여 주어진 feature들을 변환합니다.


- OneHotEncoding은 pd.get_dummies 함수를 사용합니다.


- "OC"는 target column이므로, LabelEncoder로 변환합니다.

In [ ]:
# 라이브러리 불러오기
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

le = LabelEncoder()
ohe = OneHotEncoder()

In [ ]:
# target column 제거
train_categories.remove("OC")

In [ ]:
# One-Hot Encoder로 변환하기
encoded = ohe.fit_transform(X=train[train_categories])
encoded.toarray()

array([[0., 0., 1., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       ...,
       [0., 0., 1., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 1., 0., 1.]])

In [ ]:
# Label Encoder로 변환하기
labels = le.fit_transform(train.OC)
labels

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1])

In [ ]:
# target column 제거
train.drop("OC", axis=1, inplace=True)

### 문제 13. test data에 동일하게 적용하기

In [ ]:
test_encoded = ohe.transform(X=test[test_categories])

ValueError: ignored

- sido column에 "jeju"라는 값을 가진 새로운 데이터가 등장했습니다.


- 이 데이터는 학습 데이터에는 존재하지 않았던, 종류라서 trainer가 처리를 해줄 수 가 없습니다.


- 이런 경우는 설제 서비스시 예외처리를 해주는 것이 맞습니다.


- 따라서, 저희도 제외를 하고 가는 것이 맞습니다.

In [ ]:
# jeju 확인
jejus = test[test.sido == "jeju"]
jejus

     inst_id  sido  sgg    openDate  ...  surplus2 employee1  employee2  ownerChange
1          5  jeju  149  20160309.0  ...       0.0     379.0      371.0         same
115      398  jeju  149  20070912.0  ...       0.0      66.0       68.0         same
125      430  jeju   76  20010201.0  ...       0.0     363.0      343.0         same

[3 rows x 57 columns]

In [ ]:
# jeju 지우기 ### 실제로는 여기서 Report를 하여 학습데이터에 jeju를 추가하는 방향으로 해야한다.
test.drop(jejus.index, inplace=True)

In [ ]:
# 다시 One-Hot encoding 적용
test_encoded = ohe.transform(X=test[test_categories])
test_encoded

<124x25 sparse matrix of type '<class 'numpy.float64'>'
	with 372 stored elements in Compressed Sparse Row format>

### 문제 14. feature vector와 target vector 만들기

In [ ]:
# shape 확인하기
print(train.shape, encoded.toarray().shape)

(286, 57) (286, 25)

In [ ]:
# 변환될 column을 지우고, OHE된 벡터들을 합친다.
train.drop(train_categories, axis=1, inplace=True)
X_train = np.hstack([train.values, encoded.toarray()])
y_train = labels

print(X_train.shape, y_train.shape)

(286, 79) (286,)

In [ ]:
# test 데이터도 확인하기
print(test.shape)

(124, 57)

In [ ]:
# test 데이터도 동일한 방법으로 진행
test.drop(test_categories, axis=1, inplace=True)
X_test = np.hstack([test.values, test_encoded.toarray()])
X_test.shape

(124, 79)

### 문제 15. feature scaling

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
# 스케일 조정된 X_train 데이터 확인하기
X_train_scaled

array([[-1.82765709, -0.14428866,  0.21838383, ..., -0.15839699,
        -0.41488691,  0.41488691],
       [-1.8024622 ,  0.16818882,  1.24922335, ..., -0.15839699,
        -0.41488691,  0.41488691],
       [-1.77726731,  1.18374062, -0.5881221 , ..., -0.15839699,
        -0.41488691,  0.41488691],
       ...,
       [ 1.71642371,  1.53527778,  1.0131611 , ..., -0.15839699,
        -0.41488691,  0.41488691],
       [ 1.7500169 ,  1.73057621,  0.20547543, ..., -0.15839699,
        -0.41488691,  0.41488691],
       [ 1.75841519, -0.02710961, -0.47125926, ...,  6.31325137,
        -0.41488691,  0.41488691]])

### 참고: scikit-learn에서 제공하는 피처 스케일러(scaler)

- `StandardScaler`: 기본 스케일, 각 피처의 평균을 0, 표준편차를 1로 변환
- `RobustScaler`: 위와 유사하지만 평균 대신 중간값(median)과 일분위, 삼분위값(quartile)을 사용하여 이상치 영향을 최소화
- `MinMaxScaler`: 모든 피처의 최대치와 최소치가 각각 1, 0이 되도록 스케일 조정
- `Normalizer`: 피처(컬럼)이 아니라 row마다 정규화되며, 유클리드 거리가 1이 되도록 데이터를 조정하여 빠르게 학습할 수 있게 함

<p> 스케일 조정을 하는 이유는 데이터의 값이 너무 크거나 작을 때 학습이 제대로 되지 않을 수도 있기 때문입니다. 또한 스케일의 영향이 절대적인 분류기(예: knn과 같은 거리기반 알고리즘)의 경우, 스케일 조정을 필수적으로 검토해야 합니다.
    
<p> 반면 어떤 항목은 원본 데이터의 분포를 유지하는 것이 나을 수도 있습니다. 예를 들어, 데이터가 거의 한 곳에 집중되어 있는 feature를 표준화시켜 분포를 같게 만들었을 때, 작은 단위의 변화가 큰 차이를 나타내는 것처럼 학습될 수도 있습니다. 또한 스케일의 영향을 크게 받지 않는 분류기(예: 트리 기반 앙상블 알고리즘)를 사용할 경우에도 성능이 준수하게 나오거나 과대적합(overfitting)의 우려가 적다면 생략할 수도 있습니다.
    
<p> 스케일 조정시 유의해야할 점은 원본 데이터의 의미를 잃어버릴 수 있다는 것입니다. 최종적으로 답을 구하는 것이 목적이 아니라 모델의 해석이나 향후 다른 데이터셋으로의 응용이 더 중요할 때 원 피처에 대한 설명력을 잃어버린다면 모델 개선이 어려울 수도 있습니다. 이 점을 함께 고려하시면 좋겠습니다.

## Step 4. Training

- 공부한 각 머신러닝 분류 모델들을 돌려보고, 성능을 평가합니다.

- 아래 모델들이 그 대상에 해당합니다.

- Logistic Regression / Naive Bayes / Decision Tree / Random Forest / KNN / SVM / xgboost / lightgbm

### 문제 16. Logistic Regression 모델 돌려보기

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

log_reg = LogisticRegression()
log_reg.fit(X_train_scaled, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

### 문제 17. Logistic Regression 모델의 정확도 평가하기

In [ ]:
pred = log_reg.predict(X_train_scaled)
logreg_score = accuracy_score(y_train, pred)

print('Logistic Regression accuracy score: {0:0.4f}'.format(logreg_score))

Logistic Regression accuracy score: 0.9755

### 문제 18. Naive Bayes 모델 돌려보기

In [ ]:
from sklearn.naive_bayes import GaussianNB

nb = GaussianNB()
nb.fit(X_train_scaled, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

### 문제 19. Naive Bayes 평가하기

In [ ]:
pred = nb.predict(X_train_scaled)
nb_score = accuracy_score(y_train, pred)

print('Naive Bayes accuracy score: {0:0.4f}'.format(nb_score))

Naive Bayes accuracy score: 0.7378

### 문제 20. Decision Tree 모델 돌려보기

In [ ]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier(max_depth=8)
dt.fit(X_train_scaled, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=8, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

### 문제 21. Decision Tree 모델 평가하기

In [ ]:
pred = dt.predict(X_train_scaled)
dt_score = accuracy_score(y_train, pred)

print('Decision Tree accuracy score: {0:0.4f}'.format(dt_score))

Decision Tree accuracy score: 0.9965

### 문제 22. Random Forest 모델 돌려보기

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(max_depth=15, max_features=0.8)  
rf.fit(X_train_scaled, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=15, max_features=0.8,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
pred = rf.predict(X_train_scaled) 
rf_score = accuracy_score(y_train, pred)
print('Random Forest Model accuracy score : {0:0.4f}'.format(rf_score))

Random Forest Model accuracy score : 1.0000

### 문제 23. KNN Classification 모델 돌려보기

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()
knn.fit(X_train_scaled, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
pred = knn.predict(X_train_scaled) 
knn_score = accuracy_score(y_train, pred)
print('KNN classification accuracy score : {0:0.4f}'.format(knn_score))

KNN classification accuracy score : 0.9615

### 문제 24. Support Vector Machine 모델 돌려보기

In [ ]:
from sklearn.svm import SVC

svc = SVC()
svc.fit(X_train_scaled, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
pred = svc.predict(X_train_scaled) 
svm_score = accuracy_score(y_train, pred)
print('Support Vector Machine accuracy score : {0:0.4f}'.format(svm_score))

Support Vector Machine accuracy score : 0.9615

### 문제 25. XGBoost 모델 돌려보기

- xgboost의 구현체가 많지만, 여기서는 sklearn version을 사용합니다.

In [ ]:
from xgboost.sklearn import XGBClassifier

xgb = XGBClassifier()
xgb.fit(X_train_scaled, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

### 문제 26. XGBoost 모델의 분류결과 확인하기

In [ ]:
pred = xgb.predict(X_train_scaled) 
xgb_score = accuracy_score(y_train, pred)
print('XGBoost accuracy score : {0:0.4f}'.format(xgb_score))

XGBoost accuracy score : 0.9930

### 문제 27. Light GBM 모델 돌려보기

In [ ]:
from lightgbm.sklearn import LGBMClassifier

lgb = LGBMClassifier()
lgb.fit(X_train_scaled, y_train)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

### 문제 28. Light GBM 분류결과 확인하기

In [ ]:
pred = lgb.predict(X_train_scaled) 
lgb_score = accuracy_score(y_train, pred)
print('XGBoost accuracy score : {0:0.4f}'.format(lgb_score))

XGBoost accuracy score : 0.9965

### 참고 : 부스팅(Boosting) 모델 개요


- 부스팅은 여러 트리의 적합 결과를 합하는 앙상블 알고리즘의 하나로, 이 때 sequential의 개념이 추가되어 있습니다. 즉 연속적인 weak learner, 바로 직전 weak learner의 error를 반영한 현재 weak learner를 잡겠다는 것입니다. 이 아이디어는 Gradient Boosting Model(GBM)에서 loss를 계속 줄이는 방향으로 weak learner를 잡는다는 개념으로 확장됩니다.

![boost](https://pluralsight2.imgix.net/guides/81232a78-2e99-4ccc-ba8e-8cd873625fdf_2.jpg)


- 부스팅 계열 모델은 XGBoost, LightGBM, CatBoost 등이 있습니다.


- 더 자세한 내용은 다음 Step에서 살펴보겠습니다.

### 문제 29. Test prediction

- 학습한 모델을 기반하여 test 데이터를 평가합니다. 그 예측값이 대회 제출이 되는 기준입니다.


- 실제 현업에서는 서비스에 들어가는 기술을 test 데이터로 평가합니다. 마치 유저가 들어온 것처럼요.

In [ ]:
# 모델을 하나 정해서, test data에 대한 inference를 진행합니다.
final = lgb.predict(X_test_scaled)
final

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [ ]:
# 결과 파일 생성
result = pd.DataFrame({"ID":test.index, "target":final}).set_index("ID")
result

     target
ID
0         1
2         1
3         1
4         1
5         1
..      ...
121       1
122       1
123       1
124       1
126       1

[124 rows x 1 columns]

### 문제 30. 최종 성능 정리

In [ ]:
print('Accuracy Comparisons for Binary Models\n')
print('logreg_score:', '{0:0.5f}'.format(logreg_score))
print('dt_score   :', '{0:0.5f}'.format(dt_score))
print('rf_score   :', '{0:0.5f}'.format(rf_score))
print('knn_score   :', '{0:0.5f}'.format(knn_score))
print('svm_score   :', '{0:0.5f}'.format(svm_score))
print('xgb_score   :', '{0:0.5f}'.format(xgb_score))
print('lgb_score   :', '{0:0.5f}'.format(lgb_score))

Accuracy Comparisons for Binary Models

logreg_score: 0.97552
dt_score   : 0.99650
rf_score   : 1.00000
knn_score   : 0.96154
svm_score   : 0.96154
xgb_score   : 0.99301
lgb_score   : 0.99650